102 DIALOGEX 0, 0, 254, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Registry"
FONT 8, "Segoe UI", 0, FALSE
{
 GROUPBOX "Registry", -1, 7, 7, 240, 200
 PUSHBUTTON "&Import registry file(*.reg)", 4056, 10, 190, 126, 14
 PUSHBUTTON "&Add key", 4063, 140, 190, 104, 14
 EDITTEXT 4062, 10, 18, 234, 166, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
}
