107 DIALOGEX 0, 0, 354, 286, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Property Page"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Content", -1, 4, 4, 346, 179
 LTEXT "Fi&nd:(the old characters to be replaced)", 1051, 11, 15, 145, 8
 EDITTEXT 1053, 22, 26, 257, 59, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 PUSHBUTTON "&History", 1054, 286, 25, 58, 14
 LTEXT "Replace &with:(New Characters)", 1052, 11, 92, 129, 8
 EDITTEXT 1070, 22, 103, 257, 59, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 PUSHBUTTON "H&istory", 1055, 286, 110, 58, 14
 AUTOCHECKBOX "&Case Sensitive", 1056, 90, 167, 68, 10
 AUTOCHECKBOX "&Match whole word only", 1057, 162, 167, 95, 10
 GROUPBOX "Files", -1, 4, 186, 346, 96
 LTEXT "File &Type", -1, 11, 198, 45, 8
 COMBOBOX 1059, 60, 198, 232, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "&Browse", 1064, 296, 197, 50, 14
 LTEXT "Fol&der", -1, 11, 217, 45, 8
 COMBOBOX 1060, 60, 214, 232, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "B&rowse", 1065, 296, 214, 50, 14
 AUTOCHECKBOX "Include s&ub directories", 1058, 49, 232, 136, 10
 AUTOCHECKBOX "Include files in &archive that only Zip/7z/Tar are supported", 1061, 49, 248, 199, 10
 AUTOCHECKBOX "Bac&kup files", 1062, 49, 264, 68, 10
 PUSHBUTTON "Backup &path", 1063, 120, 263, 66, 14
}
