2066 DIALOGEX 0, 0, 300, 195, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "System"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Folder for temporary files", -1, 5, 5, 290, 59
 AUTORADIOBUTTON "S&ystem temporary folder", 2067, 13, 16, 136, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "S&pecified folder", 2069, 13, 31, 72, 10, NOT WS_TABSTOP
 EDITTEXT 2070, 89, 29, 143, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&Browse", 2071, 238, 29, 50, 14
 AUTOCHECKBOX "&Used for only removable disks", 2072, 13, 46, 135, 10
 GROUPBOX "S&tartup folder", -1, 5, 69, 290, 47
 AUTORADIOBUTTON "R&estore last working folder on start-up", 2041, 13, 82, 173, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Specified folder", 2146, 13, 98, 73, 10, NOT WS_TABSTOP
 EDITTEXT 2131, 89, 96, 143, 14, ES_AUTOHSCROLL
 PUSHBUTTON "B&rowse", 2132, 238, 96, 50, 14
 GROUPBOX "MD5 calculate threshold", -1, 5, 122, 290, 31
 AUTORADIOBUTTON "D&isable", 2152, 14, 135, 79, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Speci&fied Size", 2134, 89, 135, 62, 10, NOT WS_TABSTOP
 LTEXT "&MB", -1, 200, 135, 20, 8
 EDITTEXT 2116, 155, 132, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
 GROUPBOX "Sound", -1, 5, 159, 290, 31
 AUTOCHECKBOX "Enable sound", 2073, 13, 172, 205, 10
}
