2116 DIALOGEX 0, 0, 202, 151, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Organize Profile"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "E&xisting profiles", -1, 4, 4, 139, 143
 PUSHBUTTON "&Add", 2115, 148, 14, 50, 14
 PUSHBUTTON "&Modify", 2116, 148, 29, 50, 14
 PUSHBUTTON "&Remove", 2117, 148, 44, 50, 14
 PUSHBUTTON "&Copy", 3736, 148, 59, 50, 14
 PUSHBUTTON "&Up", 2118, 148, 79, 50, 14
 PUSHBUTTON "&Down", 2119, 148, 94, 50, 14
 PUSHBUTTON "&Help", 9, 148, 114, 50, 14
 DEFPUSHBUTTON "C&lose", 1, 148, 129, 50, 14
 LISTBOX 2120, 8, 15, 131, 128, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
}
