2117 DIALOGEX 0, 0, 267, 200, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Profile Parameters"
FONT 8, "Segoe UI", 400, FALSE
{
 DEFPUSHBUTTON "&OK", 1, 52, 181, 50, 14
 PUSHBUTTON "&Cancel", 2, 108, 181, 50, 14
 PUSHBUTTON "&Help", 9, 164, 181, 50, 14
 LTEXT "Profile &Name", -1, 8, 5, 143, 8
 EDITTEXT 3275, 5, 16, 258, 14, ES_AUTOHSCROLL
 AUTOCHECKBOX "Save archive name(Include full &path)", 2122, 8, 38, 143, 10
 EDITTEXT 2123, 5, 51, 243, 14, ES_AUTOHSCROLL
 PUSHBUTTON "6", 3715, 251, 51, 12, 14
 PUSHBUTTON "&Browse", 3313, 213, 35, 50, 14
 AUTOCHECKBOX "Save &selected file names", 2124, 8, 73, 143, 10
 GROUPBOX "Options", -1, 5, 108, 258, 68
 AUTOCHECKBOX "Save profile as &default", 2127, 20, 120, 193, 10
 AUTOCHECKBOX "C&reate shortcut on Desktop", 2128, 20, 148, 193, 10
 AUTOCHECKBOX "Imm&ediate execution", 2129, 20, 134, 193, 10
 AUTOCHECKBOX "Added to context &menu", 2130, 20, 162, 193, 10
 EDITTEXT 3340, 5, 86, 258, 14, ES_AUTOHSCROLL
 PUSHBUTTON "Ed&it", 3341, 213, 70, 50, 14
}
