23118 DIALOGEX 0, 0, 300, 191
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Оther"
LANGUAGE LANG_CHINESE, 0x2
FONT 9, "MS Shell Dlg"
{
   CONTROL "Set default 2345 page(not recom)", 2228, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 19, 173, 10 
   CONTROL "Set default Baidu search(not recom)", 2229, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 33, 173, 10 
}
