3003 DIALOGEX 0, 0, 186, 105, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Password"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "File Name", 3130, 16, 24, 153, 8, SS_ENDELLIPSIS | SS_PATHELLIPSIS
 EDITTEXT 3113, 14, 42, 157, 14, ES_PASSWORD | ES_AUTOHSCROLL | WS_GROUP
 AUTOCHECKBOX "&Show Password", 3839, 14, 60, 125, 10
 AUTOCHECKBOX "&Apply current password to all encrypted files", 3840, 14, 72, 153, 10
 DEFPUSHBUTTON "&OK", 1, 9, 84, 50, 14
 PUSHBUTTON "S&kip", 3841, 65, 84, 50, 14
 PUSHBUTTON "&Cancel", 2, 123, 84, 50, 14
 GROUPBOX "Enter password for encrypted file", -1, 5, 5, 176, 95
 LTEXT "", -1, 165, 61, 8, 8
}
