3005 DIALOGEX 0, 0, 242, 192, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Compressing ..."
FONT 8, "MS Shell Dlg", 400, FALSE
{
 PUSHBUTTON "&Background", 3088, 5, 155, 110, 14
 PUSHBUTTON "", 3773, 127, 155, 110, 14
 PUSHBUTTON "&Pause", 3095, 5, 172, 110, 14
 PUSHBUTTON "&Cancel", 2, 127, 172, 110, 14
 AUTOCHECKBOX "Turn PC off after done", 3713, 7, 142, 105, 10
 GROUPBOX "", -1, 5, 1, 232, 51
 LTEXT "Compress to file: *.7Z", 3087, 12, 9, 218, 8, SS_ENDELLIPSIS | SS_PATHELLIPSIS
 CONTROL "Compressing:", 3094, "STATIC", SS_LEFTNOWORDWRAP | SS_ENDELLIPSIS | SS_PATHELLIPSIS, 12, 19, 218, 10
 CONTROL "Compressed file name", 3089, "STATIC", SS_LEFTNOWORDWRAP | SS_ENDELLIPSIS | SS_PATHELLIPSIS, 21, 29, 167, 8
 LTEXT "90%", 3091, 198, 29, 31, 8, 0, WS_EX_RIGHT
 CONTROL "", 3090, "msctls_progress32", WS_BORDER, 12, 39, 217, 9
 GROUPBOX "", -1, 5, 50, 232, 52
 LTEXT "Elapsed time:", -1, 12, 58, 53, 8
 LTEXT "Remaining time:", -1, 12, 68, 55, 8
 LTEXT "Progress", -1, 12, 78, 51, 8
 CONTROL "", 3096, "msctls_progress32", WS_BORDER, 12, 88, 217, 9
 GROUPBOX "", -1, 5, 99, 232, 40
 LTEXT "Files:", -1, 117, 106, 41, 8
 LTEXT "Total Size:", -1, 12, 106, 41, 8
 LTEXT "Processed:", 3256, 12, 117, 41, 8
 LTEXT "Speed:", 3258, 117, 117, 41, 8
 LTEXT "90%", 3097, 198, 78, 31, 8, 0, WS_EX_RIGHT
 LTEXT "00:00:00", 3138, 196, 58, 33, 8
 LTEXT "00:00:00", 3093, 196, 68, 33, 8
 LTEXT "0", 3139, 161, 106, 66, 8
 LTEXT "0", 3140, 60, 106, 52, 8
 LTEXT "0", 3145, 60, 117, 52, 8
 LTEXT "0", 3146, 161, 117, 66, 8
 LTEXT "Compressed:", 3259, 12, 128, 43, 8
 LTEXT "0", 3143, 60, 128, 52, 8
 LTEXT "Ratio :", 3257, 117, 128, 41, 8
 LTEXT "0", 3144, 161, 128, 66, 8
 AUTOCHECKBOX "Remove source after done", 3739, 129, 142, 106, 10
}
