3006 DIALOGEX 0, 0, 334, 248, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Repair archives"
FONT 8, "Segoe UI", 400, FALSE
{
 DEFPUSHBUTTON "&Repair", 3162, 4, 231, 52, 14
 PUSHBUTTON "&Detect", 3164, 59, 231, 52, 14
 PUSHBUTTON "&Pause", 3160, 114, 231, 52, 14
 PUSHBUTTON "&Background", 3159, 169, 231, 52, 14
 PUSHBUTTON "&Cancel", 2, 224, 231, 52, 14
 PUSHBUTTON "&Help", 3000, 279, 231, 52, 14
 LTEXT "Destination &folder", -1, 4, 6, 189, 8
 EDITTEXT 3114, 4, 16, 273, 14, ES_AUTOHSCROLL
 PUSHBUTTON "Br&owse", 3147, 280, 16, 50, 14
 GROUPBOX "Source archive types", -1, 4, 33, 188, 29
 AUTORADIOBUTTON "Zip file", 3148, 9, 47, 41, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "7Z file", 3149, 52, 47, 40, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "TAR file", 3154, 94, 47, 45, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Auto", 3150, 141, 47, 47, 10, NOT WS_TABSTOP
 GROUPBOX "Destination archive types", -1, 193, 33, 137, 29
 AUTORADIOBUTTON "Zip file", 3151, 199, 47, 39, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "7Z file", 3152, 241, 47, 37, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "TAR file", 3153, 281, 47, 43, 10, NOT WS_TABSTOP
 GROUPBOX "Current operation", -1, 4, 64, 232, 54, WS_GROUP
 LTEXT "Compressing to: *.7Z", 3087, 13, 76, 218, 8, SS_ENDELLIPSIS | SS_PATHELLIPSIS
 CONTROL "Compressing:", 3094, "STATIC", SS_LEFTNOWORDWRAP | SS_ENDELLIPSIS | SS_PATHELLIPSIS, 13, 86, 218, 10
 CONTROL "Archive name", 3089, "STATIC", SS_LEFTNOWORDWRAP | SS_ENDELLIPSIS | SS_PATHELLIPSIS, 13, 96, 167, 8
 CONTROL "", 3090, "msctls_progress32", WS_BORDER, 13, 106, 217, 9
 LTEXT "90%", 3091, 194, 96, 31, 8, 0, WS_EX_RIGHT
 GROUPBOX "Current status", -1, 238, 64, 92, 54
 LTEXT "Repair files:", -1, 242, 76, 45, 8
 LTEXT "Total files:", -1, 242, 86, 45, 8
 LTEXT "Error files:", -1, 242, 96, 45, 8
 LTEXT "Elapsed time:", -1, 242, 106, 45, 8
 LTEXT "1/10", 3155, 288, 76, 34, 8
 LTEXT "12345", 3156, 288, 86, 34, 8
 LTEXT "12", 3157, 288, 96, 34, 8
 LTEXT "00:00:00", 3138, 288, 106, 34, 8
 LTEXT "&Inforrmation", -1, 4, 124, 89, 8
 EDITTEXT 3158, 4, 133, 326, 96, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
}
