3009 DIALOGEX 0, 0, 246, 228, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Comment"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "Com&ment Text:", -1, 7, 5, 63, 8
 EDITTEXT 3044, 5, 19, 240, 188, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 3772, 5, 19, 235, 188, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
 LTEXT "", 3236, 70, 5, 170, 8
 PUSHBUTTON "&Load text from file", 3043, 5, 209, 120, 14
 AUTOCHECKBOX "Auto &Wrap Text", 3128, 148, 211, 92, 10
}
