3036 DIALOGEX 0, 0, 432, 269, 0
STYLE DS_SETFONT | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
CAPTION "HaoZip Batch Rename Tool"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CONTROL "", 1000, "SysTabControl32", WS_TABSTOP, 5, 5, 188, 234
 GROUPBOX "File list", -1, 200, 6, 226, 234
 CONTROL "", 1002, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000801, 206, 17, 194, 200
 PUSHBUTTON "&Add", 1003, 244, 222, 50, 14
 PUSHBUTTON "&Remove", 1004, 307, 222, 50, 14
 PUSHBUTTON " ", 1108, 404, 72, 16, 14
 PUSHBUTTON " ", 1109, 404, 91, 16, 14
 PUSHBUTTON " ", 1110, 404, 110, 16, 14
 PUSHBUTTON " ", 1111, 404, 129, 16, 14
 CONTROL "", -1, "STATIC", SS_BLACKFRAME | SS_SUNKEN, 5, 244, 421, 1
 AUTOCHECKBOX "Hide Main Window", 1112, 14, 250, 114, 10
 DEFPUSHBUTTON "&Start", 1005, 208, 250, 64, 14
 PUSHBUTTON "Re&name", 1006, 208, 250, 64, 14
 PUSHBUTTON "&Cancel", 2, 282, 250, 64, 14
 PUSHBUTTON "&Help", 3020, 356, 250, 64, 14
}
