3040 DIALOGEX 0, 0, 195, 208, 0
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, FALSE
{
 EDITTEXT 3029, 49, 28, 124, 14, ES_AUTOHSCROLL
 EDITTEXT 3030, 49, 48, 123, 14, ES_AUTOHSCROLL
 LTEXT "Replace", -1, 7, 30, 34, 9
 LTEXT "Replace the characters in the file name", -1, 7, 9, 156, 8
 LTEXT "With", -1, 7, 51, 26, 9
}
