3051 DIALOGEX 0, 0, 450, 301, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Hardware Performance Benchmark"
FONT 8, "Segoe UI", 400, FALSE
{
 PUSHBUTTON "", 1, -25, -7, 50, 14
 PUSHBUTTON "", 2, -25, -7, 50, 14
 PUSHBUTTON "", 9, -25, -7, 50, 14
}
