3098 DIALOGEX 0, 0, 246, 228, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Information"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CONTROL "", 3020, "STATIC", SS_BLACKFRAME, 5, 14, 55, 209
 CTEXT "HaoZip Archive", 3247, 79, 7, 153, 10
 GROUPBOX "", -1, 65, 16, 176, 32
 LTEXT "Version to extract", -1, 72, 24, 82, 8
 LTEXT "Host OS", -1, 72, 36, 82, 8
 GROUPBOX "", -1, 65, 47, 176, 50
 LTEXT "Total Files", -1, 72, 55, 38, 8
 LTEXT "Total Size", -1, 72, 65, 42, 8
 LTEXT "Packed Size", -1, 72, 75, 50, 8
 LTEXT "Ratio", -1, 72, 85, 46, 8
 GROUPBOX "", -1, 65, 96, 176, 42
 LTEXT "SFX Module Size", -1, 72, 105, 63, 8
 LTEXT "Main Comment", -1, 72, 116, 57, 8
 LTEXT "Password", -1, 72, 127, 57, 8
 CONTROL "1.0", 3042, "STATIC", SS_LEFTNOWORDWRAP, 171, 24, 65, 8, WS_EX_RIGHT
 LTEXT "Unknown", 3017, 167, 36, 70, 8, 0, WS_EX_RIGHT
 LTEXT "Unknown", 3016, 116, 55, 121, 8, 0, WS_EX_RIGHT
 LTEXT "Unknown", 3039, 116, 65, 121, 8, 0, WS_EX_RIGHT
 LTEXT "Unknown", 3018, 124, 75, 113, 8, 0, WS_EX_RIGHT
 LTEXT "Unknown", 3021, 130, 85, 107, 8, 0, WS_EX_RIGHT
 LTEXT "0 bytes", 3022, 141, 105, 96, 8, 0, WS_EX_RIGHT
 LTEXT "No", 3014, 141, 116, 96, 8, 0, WS_EX_RIGHT
 LTEXT "No", 3019, 141, 127, 96, 8, 0, WS_EX_RIGHT
 GROUPBOX "File MD5 checksum", -1, 65, 141, 176, 30
 EDITTEXT 3041, 72, 153, 144, 12, ES_READONLY | NOT WS_BORDER
 EDITTEXT 3043, 72, 181, 117, 12, ES_READONLY | NOT WS_BORDER
 PUSHBUTTON "MD5 &Calc", 3703, 191, 180, 50, 14
 AUTOCHECKBOX "&Remove SFX Module", 3714, 72, 201, 105, 10, WS_DISABLED
 PUSHBUTTON "&Extract", 3015, 191, 201, 50, 14
}
