3099 DIALOGEX 0, 0, 246, 230, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Information"
FONT 8, "Segoe UI", 400, FALSE
{
 AUTORADIOBUTTON "Z&ip File", 3207, 64, 192, 53, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "7&Z File", 3208, 124, 192, 53, 10, NOT WS_TABSTOP
 AUTOCHECKBOX "&Auto Start", 3027, 184, 192, 57, 12, WS_GROUP
 PUSHBUTTON "&Estimate", 3032, 8, 206, 50, 14
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 64, 188, 179, 1
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 64, 205, 179, 1
 CONTROL "", 3029, "msctls_progress32", WS_BORDER, 64, 211, 147, 9
 GROUPBOX "File Statistics", -1, 3, 5, 240, 124
 GROUPBOX "Compression prognosis", -1, 3, 132, 240, 93
 LTEXT "Status", -1, 14, 17, 33, 8
 LTEXT "FIles", -1, 14, 35, 47, 8
 LTEXT "Folders", -1, 14, 45, 47, 8
 LTEXT "Archives", -1, 14, 55, 47, 8
 LTEXT "Total Size", -1, 14, 75, 60, 8
 LTEXT "Cluster Size", -1, 14, 95, 47, 8
 LTEXT "Real files size", -1, 14, 105, 45, 8
 LTEXT "Files slack", -1, 14, 115, 37, 8
 LTEXT "Completed", 3037, 160, 17, 77, 8, 0, WS_EX_RIGHT
 LTEXT "0", 3034, 160, 35, 77, 8, 0, WS_EX_RIGHT
 LTEXT "0", 3026, 160, 45, 77, 8, 0, WS_EX_RIGHT
 LTEXT "0", 3024, 160, 55, 77, 8, 0, WS_EX_RIGHT
 LTEXT "0", 3038, 82, 75, 155, 8, 0, WS_EX_RIGHT
 LTEXT "0", 3025, 65, 95, 172, 8, 0, WS_EX_RIGHT
 LTEXT "0", 3023, 65, 105, 172, 8, 0, WS_EX_RIGHT
 LTEXT "0", 3035, 63, 115, 174, 8, 0, WS_EX_RIGHT
 LTEXT "Status", -1, 64, 141, 29, 8
 LTEXT "Ratio", -1, 64, 156, 72, 8
 LTEXT "Packed size", -1, 64, 166, 41, 8
 LTEXT "Estimated time", -1, 64, 176, 55, 8
 LTEXT "Idle", 3033, 165, 141, 72, 8, 0, WS_EX_RIGHT
 LTEXT "0.00%", 3030, 172, 156, 65, 8, 0, WS_EX_RIGHT
 LTEXT "0", 3031, 110, 166, 127, 8, 0, WS_EX_RIGHT
 LTEXT "00:00:00", 3028, 133, 176, 104, 8, 0, WS_EX_RIGHT
 CONTROL "", 3036, "STATIC", SS_BLACKFRAME, 11, 145, 48, 54
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 3, 89, 240, 1
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 3, 29, 240, 1
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 3, 68, 240, 1
 CONTROL "", -1, "STATIC", SS_ETCHEDHORZ, 64, 152, 179, 1
 LTEXT " 0.00%", 3040, 212, 212, 25, 8, 0, WS_EX_RIGHT
}
