31009 DIALOGEX 0, 0, 95, 114, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP
EXSTYLE = WS_EX_TOOLWINDOW | WS_EX_CONTROLPARENT
FONT 8, "Segoe UI", 0, FALSE
{
 LISTBOX 31007, 7, 70, 71, 30, LBS_OWNERDRAWFIXED | NOT WS_BORDER | WS_VSCROLL | WS_TABSTOP
 CONTROL "Tab1", 31016, "SysTabControl32", WS_TABSTOP | 0x00000040, 35, 17, 50, 30
}
