31015 DIALOGEX 0, 0, 302, 139, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Options"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 COMBOBOX 31027, 15, 31, 87, 65, CBS_DROPDOWN | CBS_OWNERDRAWVARIABLE | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 31028, 106, 31, 38, 105, CBS_DROPDOWN | WS_VSCROLL
 CONTROL "", 31029, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 169, 30, 50, 12
 CONTROL "", 31030, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 232, 30, 50, 12
 EDITTEXT 31031, 73, 65, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31032, 73, 81, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31035, 73, 97, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31034, 229, 64, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31033, 229, 80, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 AUTOCHECKBOX "Auto &Wrap", 31036, 162, 100, 63, 10
 COMBOBOX 31037, 5, 119, 119, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 DEFPUSHBUTTON "&OK", 1, 137, 120, 50, 14
 PUSHBUTTON "A&pply", 31002, 192, 120, 50, 14
 PUSHBUTTON "&Cancel", 2, 247, 120, 50, 14
 GROUPBOX "&Editor", -1, 5, 55, 292, 60
 LTEXT "&Name", -1, 15, 20, 39, 8
 LTEXT "&Size", -1, 106, 20, 38, 8
 LTEXT "&Text", -1, 171, 19, 50, 8
 LTEXT "&Background", -1, 232, 19, 50, 8
 GROUPBOX "&Font", -1, 5, 5, 145, 45
 GROUPBOX "Colo&r", -1, 157, 5, 140, 45
 LTEXT "&Left margin", -1, 16, 68, 52, 8
 LTEXT "R&ight margin", -1, 16, 84, 52, 8
 LTEXT "T&AB Size", -1, 16, 100, 52, 8
 LTEXT "&Undo limited", -1, 162, 68, 63, 8
 LTEXT "Cac&he Size", -1, 162, 84, 63, 8
}
