31011 DIALOGEX 0, 0, 276, 61, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Find"
FONT 8, "Segoe UI", 0, FALSE
{
 COMBOBOX 31017, 51, 5, 149, 58, CBS_DROPDOWN | WS_VSCROLL
 AUTOCHECKBOX "&Match whole word", 31018, 9, 31, 87, 10
 AUTOCHECKBOX "&Case Sensitive", 31019, 9, 46, 74, 10
 AUTORADIOBUTTON "&Up", 31020, 109, 40, 28, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Down", 31021, 145, 40, 49, 10, NOT WS_TABSTOP
 DEFPUSHBUTTON "Find &Next", 1, 209, 5, 61, 14
 PUSHBUTTON "C&ancel", 2, 209, 21, 61, 14
 LTEXT "Find:", 31023, 10, 8, 41, 8
 GROUPBOX "Find Direction", -1, 101, 25, 99, 30
}
