3101 DIALOGEX 0, 0, 327, 231, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "General"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "Destination path, will be created if it dose not e&xist", -1, 5, 7, 246, 8
 COMBOBOX 3046, 5, 20, 248, 139, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "&Display", 3045, 259, 5, 63, 13
 PUSHBUTTON "&New Folder", 3049, 259, 20, 63, 13
 GROUPBOX "Update mode", -1, 5, 38, 122, 46
 AUTORADIOBUTTON "Extract and &replace files", 3056, 14, 49, 105, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Extract and &update files", 3063, 14, 60, 102, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Fresh existing files only", 3064, 14, 71, 99, 10, NOT WS_TABSTOP
 GROUPBOX "Overwrite mode", -1, 5, 87, 126, 60, WS_GROUP
 AUTORADIOBUTTON "&Ask before overwrite", 3057, 14, 99, 109, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Over&write without prompt", 3060, 14, 110, 102, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Skip existing files", 3058, 14, 121, 99, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Rename Auto&matically", 3059, 14, 132, 105, 10, NOT WS_TABSTOP
 GROUPBOX "Other", -1, 5, 150, 126, 60, WS_GROUP
 AUTOCHECKBOX "Extract archive to su&bfolders", 3062, 14, 161, 113, 10
 AUTOCHECKBOX "Keep bro&ken files", 3055, 14, 173, 84, 10
 AUTOCHECKBOX "Op&en the unpacked directory ", 3048, 14, 185, 110, 10
 AUTOCHECKBOX "Skip archive with &password", 3827, 14, 197, 109, 10
 CONTROL "", 3047, "SysTreeView32", WS_BORDER | WS_TABSTOP | 0x00000023, 136, 38, 186, 187
 PUSHBUTTON "Save Se&ttings", 3061, 5, 212, 126, 14
}
