3103 DIALOGEX 0, 0, 290, 185, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "General"
FONT 8, "Segoe UI", 400, FALSE
{
 LTEXT "Archive &name", -1, 5, 8, 88, 8
 COMBOBOX 3076, 5, 22, 280, 95, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "&Browse", 3067, 235, 5, 50, 14
 GROUPBOX "Archive format", -1, 5, 40, 123, 28, WS_GROUP
 AUTORADIOBUTTON "Z&IP", 3774, 10, 52, 25, 10, WS_GROUP
 AUTORADIOBUTTON "7&Z", 3775, 38, 52, 22, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "", 3776, 65, 52, 10, 10, NOT WS_TABSTOP
 COMBOBOX 3777, 77, 50, 48, 101, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP
 LTEXT "Compression &Method", -1, 5, 71, 88, 8
 COMBOBOX 3075, 5, 82, 119, 81, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "U&pdate mode", -1, 5, 99, 88, 8
 COMBOBOX 3079, 5, 110, 119, 81, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Sp&lit to volumes, size", -1, 5, 127, 100, 8
 COMBOBOX 3074, 5, 138, 86, 90, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 COMBOBOX 3778, 93, 138, 31, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Generate Forum Special", 3740, 13, 154, 89, 9
 GROUPBOX "Archiving Options", -1, 132, 40, 153, 140
 AUTOCHECKBOX "&Delete files after archiving", 3070, 137, 52, 130, 10
 AUTOCHECKBOX "&Test archived files", 3109, 137, 66, 130, 10
 AUTOCHECKBOX "Create &solid archive(Only for 7Z)", 3073, 137, 80, 138, 10
 AUTOCHECKBOX "Put &each file to separate archive", 3110, 137, 94, 145, 10
 AUTOCHECKBOX "T&urn PC off when done", 3111, 137, 108, 130, 10
 AUTOCHECKBOX "&Compress and E-mail", 3077, 137, 122, 130, 10
 AUTOCHECKBOX "Create SF&X archive", 3078, 137, 136, 82, 10
 PUSHBUTTON "SFX &Options", 3304, 222, 134, 62, 14
 PUSHBUTTON "S&ave as default", 3080, 5, 166, 119, 14
}
