3104 DIALOGEX 0, 0, 290, 185, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Algorithm"
FONT 8, "Segoe UI", 400, FALSE
{
 GROUPBOX "Compression algorithm", -1, 5, 5, 280, 90
 LTEXT "&Method:", -1, 11, 20, 53, 8
 COMBOBOX 3288, 65, 18, 80, 51, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Dict Size:", -1, 11, 38, 53, 8
 COMBOBOX 3289, 65, 36, 80, 119, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Word Size:", -1, 11, 56, 53, 8
 COMBOBOX 3290, 65, 54, 80, 96, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Solid Size:", -1, 11, 74, 53, 8
 COMBOBOX 3291, 65, 72, 80, 132, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Threads:", -1, 155, 20, 53, 8
 COMBOBOX 3292, 211, 18, 32, 86, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "/ 2", 3298, 248, 20, 31, 8
 LTEXT "File Type Filter:", -1, 154, 39, 57, 8
 AUTORADIOBUTTON "&On", 3295, 161, 54, 44, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "O&ff", 3296, 213, 54, 44, 10, NOT WS_TABSTOP
 PUSHBUTTON "&Edit Filter list", 3297, 166, 70, 95, 14, WS_GROUP
 LTEXT "Compression Memory:", -1, 11, 109, 72, 8
 LTEXT "120 MB", 3293, 85, 109, 60, 8
 LTEXT "Extraction Memory:", -1, 11, 123, 72, 8
 LTEXT "30 MB", 3294, 85, 123, 60, 8
 PUSHBUTTON "&Compression", 3712, 166, 117, 95, 14
}
