3262 DIALOGEX 0, 0, 263, 192, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Edit the file filter list"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&OK", 1, 77, 171, 50, 14
 PUSHBUTTON "&Cancel", 2, 136, 171, 50, 14
 PUSHBUTTON "&Add", 3300, 206, 17, 50, 14
 PUSHBUTTON "&Modify", 3279, 206, 37, 50, 14
 PUSHBUTTON "R&emove", 3277, 206, 57, 50, 14
 PUSHBUTTON "C&lear", 3278, 206, 77, 50, 14
 PUSHBUTTON "&Restore", 3302, 206, 97, 50, 14
 CTEXT "Total of 0", 3308, 206, 115, 50, 8
 LTEXT "Filtered file extensions:", -1, 7, 7, 81, 8
 CONTROL "", 2120, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000080D, 7, 17, 194, 150
}
