3264 DIALOGEX 0, 0, 175, 53, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Enter the new folder name"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "New folder name(&N):", -1, 4, 5, 87, 8
 EDITTEXT 2090, 4, 17, 167, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&OK", 1, 35, 35, 50, 14
 PUSHBUTTON "&Cancel", 2, 91, 35, 50, 14
}
