3265 DIALOGEX 0, 0, 170, 81, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Rename file"
FONT 8, "Segoe UI", 400, FALSE
{
 EDITTEXT 3266, 5, 44, 160, 14, ES_AUTOHSCROLL
 DEFPUSHBUTTON "&OK", 1, 29, 62, 50, 14
 PUSHBUTTON "&Cancel", 2, 89, 62, 50, 14
 LTEXT "Rename file:", -1, 5, 5, 127, 8
 LTEXT "To:", -1, 5, 33, 96, 8
 EDITTEXT 3267, 5, 16, 160, 14, ES_AUTOHSCROLL | ES_READONLY
}
