3315 DIALOGEX 0, 0, 330, 241, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE = WS_EX_ACCEPTFILES
CAPTION "HaoZip MD5 Checksum Tool"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&Browse", 3317, 10, 222, 46, 14
 PUSHBUTTON "&Copy", 3319, 62, 222, 46, 14, WS_DISABLED
 PUSHBUTTON "C&lear", 3318, 114, 222, 46, 14, WS_DISABLED
 PUSHBUTTON "&Save", 3320, 166, 222, 46, 14, WS_DISABLED
 PUSHBUTTON "Cl&ose", 3330, 218, 222, 46, 14
 PUSHBUTTON "&Help", 3331, 270, 222, 46, 14
 EDITTEXT 3316, 5, 5, 319, 123, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL, WS_EX_CLIENTEDGE
 GROUPBOX "Calculation Options", -1, 5, 134, 319, 26
 AUTOCHECKBOX "&Version", 3325, 10, 146, 45, 10
 AUTOCHECKBOX "&Time", 3326, 57, 146, 42, 10
 AUTOCHECKBOX "&MD5", 3327, 101, 146, 42, 10
 AUTOCHECKBOX "SH&A1", 3328, 145, 146, 42, 10
 AUTOCHECKBOX "C&RC32", 3329, 189, 146, 44, 10
 AUTOCHECKBOX "Hi&de Main Window", 3740, 235, 146, 80, 10
 LTEXT "Progress: ", -1, 11, 168, 39, 8
 CONTROL "", 3322, "msctls_progress32", WS_BORDER, 53, 167, 253, 9
 LTEXT "Finished: ", -1, 11, 182, 39, 8
 CONTROL "", 3323, "msctls_progress32", WS_BORDER, 53, 182, 253, 9
 LTEXT "Input Checksum to compare:", -1, 12, 204, 80, 8
 EDITTEXT 3780, 90, 201, 156, 14, ES_AUTOHSCROLL
 PUSHBUTTON "C&ompare", 3333, 250, 200, 46, 15
}
