3335 DIALOGEX 0, 0, 300, 225, 0
STYLE DS_SETFONT | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_POPUPWINDOW
CAPTION "File list"
FONT 8, "Segoe UI", 400, FALSE
{
 PUSHBUTTON "&OK", 1, 187, 206, 50, 14
 DEFPUSHBUTTON "&Add", 3066, 73, 206, 50, 14
 PUSHBUTTON "&Remove", 3078, 130, 206, 50, 14
 PUSHBUTTON "&Cancel", 2, 244, 206, 50, 14
 CONTROL "", 3068, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000801, 5, 5, 290, 195
}
