3700 DIALOGEX 0, 0, 280, 191, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Compression method configuration"
FONT 8, "Segoe UI", 400, FALSE
{
 GROUPBOX "Archive type", -1, 5, 5, 270, 31, WS_GROUP
 AUTORADIOBUTTON "ZIP(&I)", 3774, 29, 20, 40, 8, WS_GROUP
 AUTORADIOBUTTON "7&Z", 3775, 76, 20, 40, 8, NOT WS_TABSTOP
 GROUPBOX "Compression method", -1, 5, 41, 270, 31, WS_GROUP
 AUTORADIOBUTTON "Fast&est", 3704, 29, 56, 44, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Fast", 3705, 76, 56, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Normal", 3706, 123, 56, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Good", 3707, 170, 56, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Best", 3708, 217, 56, 44, 10, NOT WS_TABSTOP
 GROUPBOX "Compression algorithm", -1, 5, 77, 270, 87, WS_GROUP
 LTEXT "&Method:", -1, 11, 92, 53, 8
 COMBOBOX 3288, 66, 90, 72, 64, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Dict Size:", -1, 11, 110, 53, 8
 COMBOBOX 3289, 66, 108, 72, 61, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Word Size:", -1, 11, 128, 53, 8
 COMBOBOX 3290, 66, 126, 72, 94, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Solid Size:", -1, 11, 146, 53, 8
 COMBOBOX 3291, 66, 144, 72, 109, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Th&reads:", -1, 150, 92, 53, 8
 COMBOBOX 3292, 203, 90, 32, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "(1 CPU)", 3298, 240, 92, 29, 8
 LTEXT "Compression Memory:", -1, 146, 112, 73, 8
 LTEXT "120 MB", 3293, 220, 112, 48, 8
 LTEXT "Extraction Memory:", -1, 146, 126, 73, 8
 LTEXT "30 MB", 3294, 220, 126, 48, 8
 PUSHBUTTON "Restore &All", 3711, 5, 172, 50, 14
 PUSHBUTTON "Rest&ore", 3710, 60, 172, 50, 14
 PUSHBUTTON "A&pply", 1, 115, 172, 50, 14
 PUSHBUTTON "&Close", 2, 170, 172, 50, 14
 PUSHBUTTON "&Help", 9, 225, 172, 50, 14
 AUTORADIOBUTTON "TA&R", 3776, 123, 20, 40, 8, NOT WS_TABSTOP
}
