3719 DIALOGEX 0, 0, 246, 79, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Confirmation - HaoZip"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&Yes", 1, 66, 60, 50, 14
 PUSHBUTTON "&No", 2, 130, 60, 50, 14
 AUTOCHECKBOX "Do no&t ask me next time", 3721, 41, 44, 193, 10
 ICON "", 3719, 12, 13, 21, 20
 LTEXT "Static", 3720, 41, 9, 193, 31
}
