3722 DIALOGEX 0, 0, 246, 228, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Password"
FONT 8, "Segoe UI", 400, FALSE
{
 GROUPBOX "Password Adjustment", -1, 5, 7, 236, 188
 AUTORADIOBUTTON "&Do not change password", 3723, 15, 22, 220, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "C&lear existing password", 3724, 15, 37, 220, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Change pass&word", 3725, 15, 52, 220, 10, NOT WS_TABSTOP
 EDITTEXT 3084, 30, 69, 169, 14, ES_PASSWORD | ES_AUTOHSCROLL | WS_DISABLED
 LTEXT "Re-enter password for &verification", 3126, 30, 89, 168, 8
 EDITTEXT 3085, 30, 100, 169, 14, ES_PASSWORD | ES_AUTOHSCROLL | WS_DISABLED
 AUTOCHECKBOX "&Show Password", 3086, 30, 119, 74, 10, WS_DISABLED
 AUTOCHECKBOX "Encrypt file &names", 3083, 30, 134, 169, 10, WS_DISABLED
 LTEXT "Modify encrypted archives are required to provide the original password.", -1, 5, 210, 235, 8
 LTEXT "", 3127, 95, 121, 106, 8
}
