3724 DIALOGEX 0, 0, 202, 270, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Image Convert Option"
FONT 8, "Segoe UI", 400, FALSE
{
 GROUPBOX "JEPG Options", -1, 6, 6, 108, 168
 LTEXT "Quality(0-100):", -1, 18, 18, 64, 8
 EDITTEXT 3742, 36, 30, 48, 12, ES_AUTOHSCROLL | ES_NUMBER
 GROUPBOX "Image Mode", -1, 12, 54, 96, 54
 AUTORADIOBUTTON "Basic Mode", 3743, 24, 66, 53, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Extended Mode", 3744, 24, 78, 66, 10, NOT WS_TABSTOP
 AUTOCHECKBOX "Optimization", 3745, 24, 90, 66, 10
 GROUPBOX "Color Sampling", -1, 12, 114, 96, 54
 AUTORADIOBUTTON "4:1:1", 3746, 18, 126, 59, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "4:2:2", 3747, 18, 138, 67, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "4:4:4", 3748, 18, 150, 59, 10, NOT WS_TABSTOP
 GROUPBOX "GIF Compression Mode", -1, 6, 180, 109, 54
 AUTORADIOBUTTON "LZW", 3755, 18, 192, 46, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Normal", 3756, 18, 204, 40, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "RLE", 3757, 18, 216, 44, 10, NOT WS_TABSTOP
 GROUPBOX "BMP Color Depth", -1, 120, 6, 75, 64
 AUTORADIOBUTTON "1 bits", 3749, 126, 18, 30, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "4 bits", 3750, 126, 30, 30, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "8  bits", 3751, 126, 42, 35, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "24 bits", 3753, 125, 55, 34, 10, NOT WS_TABSTOP
 GROUPBOX "PNG", -1, 120, 78, 75, 40
 AUTORADIOBUTTON "Normal", 3758, 125, 91, 59, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Staggered", 3759, 125, 103, 57, 10, NOT WS_TABSTOP
 GROUPBOX "TIFF", -1, 120, 125, 75, 109
 AUTORADIOBUTTON "Auto", 3760, 125, 137, 48, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "RGB", 3761, 125, 150, 53, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "RLE", 3762, 125, 163, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Fax", 3763, 125, 176, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Packbits", 3764, 125, 189, 64, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "JEPG", 3765, 125, 202, 48, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "LZW", 3766, 125, 215, 46, 10, NOT WS_TABSTOP
 DEFPUSHBUTTON "&OK", 1, 30, 246, 50, 14
 PUSHBUTTON "&Cancel", 2, 89, 246, 50, 14
 PUSHBUTTON "&Help", 3741, 148, 246, 50, 14
}
