3781 DIALOGEX 0, 0, 173, 65, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Message - HaoZip"
FONT 8, "Segoe UI", 400, FALSE
{
 PUSHBUTTON "&Close", 1, 59, 36, 50, 14
 LTEXT "Static", 3785, 63, 14, 74, 16
 LTEXT "Static", 3784, 43, 14, 22, 21
}
