3809 DIALOGEX 0, 0, 246, 211, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Information"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 CONTROL "", 3706, "STATIC", SS_BLACKFRAME, 7, 22, 51, 185
 CTEXT "HaoZip Archive", 3914, 64, 10, 176, 10
 LTEXT "Version to extract", -1, 68, 28, 91, 8
 LTEXT "Host OS", -1, 68, 40, 91, 8
 LTEXT "Total Files", -1, 68, 59, 45, 8
 LTEXT "Total Size", -1, 68, 69, 56, 8
 LTEXT "Packed Size", -1, 68, 79, 56, 8
 LTEXT "Ratio", -1, 68, 89, 56, 8
 LTEXT "SFX Module Size", -1, 68, 109, 65, 8
 LTEXT "Main Comments", -1, 68, 120, 70, 8
 LTEXT "Password", -1, 68, 131, 70, 8
 CONTROL "1.0", 3711, "STATIC", SS_LEFTNOWORDWRAP, 171, 28, 65, 8, WS_EX_RIGHT
 LTEXT "Unknown", 3703, 123, 40, 113, 8, 0, WS_EX_RIGHT
 LTEXT "Unknown", 3702, 123, 59, 113, 8, 0, WS_EX_RIGHT
 LTEXT "Unknown", 3709, 123, 69, 113, 8, 0, WS_EX_RIGHT
 LTEXT "Unknown", 3704, 123, 79, 113, 8, 0, WS_EX_RIGHT
 LTEXT "Unknown", 3707, 123, 89, 113, 8, 0, WS_EX_RIGHT
 LTEXT "0 bytes", 3708, 127, 109, 109, 8, 0, WS_EX_RIGHT
 LTEXT "No", 3701, 123, 120, 113, 8, 0, WS_EX_RIGHT
 LTEXT "No", 3705, 123, 131, 113, 8, 0, WS_EX_RIGHT
 GROUPBOX "", -1, 62, 18, 180, 34
 GROUPBOX "", -1, 62, 51, 180, 50
 GROUPBOX "", -1, 62, 100, 180, 42
 GROUPBOX "File MD5 checksum", -1, 62, 146, 180, 29
 EDITTEXT 3710, 68, 158, 164, 12, ES_READONLY | NOT WS_BORDER
 EDITTEXT 3712, 68, 179, 119, 12, ES_READONLY | NOT WS_BORDER
 PUSHBUTTON "MD5 &Calc", 3714, 188, 177, 54, 14
 AUTOCHECKBOX "&Remove SFX module", 3915, 68, 194, 99, 10, WS_DISABLED
 PUSHBUTTON "&Extract...", 3713, 188, 193, 54, 14
}
