4003 DIALOGEX 0, 0, 250, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Text"
FONT 8, "Segoe UI", 0, FALSE
{
 LTEXT "&Title of SFX window", -1, 5, 5, 130, 8
 EDITTEXT 4012, 5, 16, 240, 14, ES_AUTOHSCROLL
 LTEXT "Te&xt to display in SFX window", -1, 5, 34, 187, 8
 EDITTEXT 4014, 5, 45, 240, 145, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 4076, 5, 45, 240, 145, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
 PUSHBUTTON "&Load text from file", 4020, 5, 195, 109, 14
 AUTOCHECKBOX "Auto &wrap text", 4025, 169, 195, 70, 10
}
