4006 DIALOGEX 0, 0, 187, 209, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Add shortcut"
FONT 8, "Segoe UI", 0, FALSE
{
 AUTORADIOBUTTON "&Desktop", 4037, 15, 18, 135, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Start Menu", 4038, 15, 29, 135, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Start Menu/&Programs", 4039, 15, 40, 135, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Star&tup", 4040, 15, 51, 135, 10, NOT WS_TABSTOP
 LTEXT "Sou&rce file name", -1, 13, 80, 157, 8
 EDITTEXT 4036, 9, 89, 170, 14, ES_AUTOHSCROLL
 LTEXT "D&estination folder", -1, 13, 106, 157, 8
 EDITTEXT 4041, 9, 115, 170, 14, ES_AUTOHSCROLL
 LTEXT "Shortcut descr&iption", -1, 13, 132, 157, 8
 EDITTEXT 4043, 9, 141, 170, 14, ES_AUTOHSCROLL
 LTEXT "Shortcut &name", -1, 13, 158, 157, 8
 EDITTEXT 4044, 9, 167, 170, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&OK", 1, 13, 190, 50, 14
 PUSHBUTTON "&Cancel", 2, 69, 190, 50, 14
 PUSHBUTTON "&Help", 9, 125, 190, 50, 14
 GROUPBOX "Where to create", -1, 5, 5, 177, 60
 GROUPBOX "Parameters", -1, 5, 69, 177, 117
}
