4007 DIALOGEX 0, 0, 250, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Icon"
FONT 8, "Segoe UI", 0, FALSE
{
 GROUPBOX "Logo", -1, 5, 5, 240, 51
 LTEXT "Load SFX &logo from file", -1, 12, 21, 161, 8
 EDITTEXT 4013, 12, 32, 227, 14, ES_AUTOHSCROLL
 GROUPBOX "Icon", -1, 5, 63, 240, 51
 PUSHBUTTON "B&rowse", 4024, 189, 73, 50, 14
 LTEXT "Load SFX &icon from file", -1, 12, 78, 161, 8
 EDITTEXT 4017, 12, 89, 227, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&Browse", 4023, 189, 16, 50, 14
}
