4055 DIALOGEX 0, 0, 250, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Modes"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Temporary mode", -1, 5, 5, 240, 90
 AUTOCHECKBOX "&Unpack to temporary folder", 4058, 11, 17, 210, 10
 LTEXT "Optional &question", -1, 11, 32, 155, 8
 EDITTEXT 4059, 11, 43, 227, 14, ES_AUTOHSCROLL
 LTEXT "Question &title", -1, 11, 63, 155, 8
 EDITTEXT 4060, 11, 74, 227, 14, ES_AUTOHSCROLL
 GROUPBOX "Silent mode", -1, 5, 100, 240, 63
 AUTORADIOBUTTON "&Show All", 4061, 11, 112, 185, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Hide start &dialog", 4062, 11, 126, 185, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Hide A&ll", 4063, 11, 140, 185, 10, NOT WS_TABSTOP
}
