4057 DIALOGEX 0, 0, 202, 265, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Add key"
FONT 8, "Segoe UI", 0, FALSE
{
 GROUPBOX "Create position", -1, 7, 7, 188, 85
 AUTORADIOBUTTON "HKEY_CLASSES_ROOT", 4064, 14, 19, 150, 13, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "HKEY_CURRENT_USER", 4065, 14, 33, 150, 13, NOT WS_TABSTOP
 AUTORADIOBUTTON "HKEY_LOCAL_MACHINE", 4066, 14, 47, 150, 13, NOT WS_TABSTOP
 AUTORADIOBUTTON "HKEY_USERS", 4067, 14, 61, 150, 13, NOT WS_TABSTOP
 AUTORADIOBUTTON "HKEY_CURRENT_CONFIG", 4068, 14, 75, 150, 13, NOT WS_TABSTOP
 GROUPBOX "Parameter", -1, 7, 95, 188, 141
 LTEXT "Path:", -1, 15, 109, 52, 8
 EDITTEXT 4069, 14, 120, 175, 13, ES_AUTOHSCROLL
 LTEXT "Key name:", -1, 15, 136, 52, 8
 EDITTEXT 4070, 14, 146, 175, 13, ES_AUTOHSCROLL
 LTEXT "Key value:", -1, 15, 162, 52, 8
 EDITTEXT 4071, 14, 172, 175, 13, ES_AUTOHSCROLL
 LTEXT "Key value type:", -1, 15, 188, 66, 8
 AUTORADIOBUTTON "&String value", 4072, 14, 201, 62, 9, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Dword value", 4073, 100, 201, 62, 9, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Expandable string value:", 4074, 14, 217, 116, 9, NOT WS_TABSTOP
 DEFPUSHBUTTON "&OK", 1, 17, 244, 50, 14
 PUSHBUTTON "&Cancel", 2, 77, 244, 50, 14
 PUSHBUTTON "&Help", 4056, 133, 244, 50, 14
}
