5001 DIALOGEX 0, 0, 226, 90, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Select CodePage"
FONT 8, "Segoe UI", 400, FALSE
{
 DEFPUSHBUTTON "&OK", 1, 57, 71, 50, 14
 PUSHBUTTON "&Cancel", 2, 117, 71, 50, 14
 LTEXT "System Supported Code&Pages:", -1, 7, 6, 153, 8
 COMBOBOX 5402, 5, 17, 216, 195, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "&Apply to Read Archives Only", 5404, 20, 39, 185, 10
 AUTOCHECKBOX "&Save as Default CodePage for HaoZip", 5405, 20, 52, 185, 10
}
