// !UTF-8!
STRINGTABLE
LANGUAGE 4, 2
{
9000, "&Kyrgyz (Kyrgyzstan) © ZLO!SUPPORT"
10036, "Жол "
10037, "Ат "
10038, "Баштык "
10039, "Көлөм "
10040, "Сжатый размер "
10041, "Касиет "
10042, "Жаратуу убактысы "
10043, "Ачылган "
10044, "Өзгөртүлгөн"
10045, "Үзгүлтүксүз "
10046, "Комментарий "
10047, "Шифрланган "
10048, "Чейин бөлөнгөн"
10049, "Кийин бөлөнгөн"
10050, "Сөздүктүн көлөмү"
10051, "CRC"
10052, "Түр"
10053, "Анти"
10054, "Кысуу амалдары"
10055, "ОС"
10056, "Файлдык система"
10057, "Колдонуучу"
10058, "Топ"
10059, "Блок"
10060, "Комментарий"
10061, "Ээлеген ахывал"

10062, "Префикс"
10063, "Баштыктар"
10064, "Файлдар"
10065, "Чыгарунун нускасы"
10066, "Үн"
10067, "Многотомный"
10068, "Смещение"
10069, "Шилтемелер"
10070, "Блоктордун саны"
10071, "Бөлүктөрдүн саны"
10072, "64-Бит"
10073, "Big-Endian"

10074, "Процессор"
10075, "Физикалык өлчөм"
10076, "Тилкөү көлөгү"
10077, "Тексерүү чектер суммасы"
10078, "Текшерүү кеңиши"
10079, "Салмактык дарек"
10080, "Өлчөмү"

10081, "Бош жерлер"
10082, "Кластерлер"
10083, "Томдун аты"
10084, "Жергиликти аты"
10085, "Камсыздоочу"
10086, "Колдонуучу тарабынан аныкталган"
10087, "Комментарий өлчөмү"  
10088, "Архивдин түрү"
10089, "Убакты Убакты "
10090, "Атрибуттар"
10091, "Өлчөмү"
10092, "Сыяктуу"
10093, "Аты"

}
