STRINGTABLE
LANGUAGE 4, 2
{
9000, "&Kyrgyz (Kyrgyzstan) © ZLO!SUPPORT"
10036, "Жол "
10037, "Ат "
10038, "Баштык "
10039, "К?л?м "
10040, "Сжатый размер "
10041, "Касиет "
10042, "Жаратуу убактысы "
10043, "Ачылган "
10044, "?зг?рт?лг?н"
10045, "?зг?лт?кс?з "
10046, "Комментарий "
10047, "Шифрланган "
10048, "Чейин б?л?нг?н"
10049, "Кийин Б?л?нг?н"
10050, "С?зд?кт?н к&?л?м?"
10051, "CRC"
10052, "Т?р"
10053, "Анти"
10054, "Кысуу амалдары"
10055, "ОС"
10056, "Файлдык система"
10057, "Колдонуучу"
10058, "Топ"
10059, "Блок"
10060, "Комментарий"
10061, "Ээлеген ахывал"

10062, "Префикс"
10063, "Баштыктар"
10064, "Файлдар"
10065, "Версия для извлечения"
10066, "Звук"
10067, "Многотомный"
10068, "Смещение"
10069, "Шилтемелер"
10070, "Блоктордун саны"
10071, "К?л?мд?рд?н саны"
10072, "64-Бит"
10073, "Big-Endian"

10074, "Процессор"
10075, "Физикалык ?лч?м"
10076, "Тилк?? к?л?г?"
10077, "Текшер?? суммасы"
10078, "Белгилердин топтому"
10079, "Салмактык дарек"
10080, "?лч?г?"

10081, "Бош жерлер"
10082, "Кластерлер"
10083, "Томдун аты"
10084, "Жергиликти аты"
10085, "Камсыздоочу"
10086, "Колдонуучу тарабынан аныкталган"
10087, "Комментарий ?лч?м?"
10088, "Архивдин типи"

}
