// !UTF-8!
STRINGTABLE
LANGUAGE 4, 2
{
9000, "&Kyrgyz (Kyrgyzstan) © ZLO!SUPPORT"
10036, "Жол "
10037, "Ат "
10038, "Баштык "
10039, "Көлөм "
10040, "Сжатый размер "
10041, "Касиет "
10042, "Жаратуу убактысы "
10043, "Ачылган "
10044, "Өзгөртүлгөн"
10045, "Үзгүлтүксүз "
10046, "Комментарий "
10047, "Шифрланган "
10048, "Чейин бөлөнгөн"
10049, "Кийин бөлөнгөн"
10050, "Сөздүктүн көлөмү"
10051, "CRC"
10052, "Түр"
10053, "Анти"
10054, "Кысуу амалдары"
10055, "ОС"
10056, "Файлдык система"
10057, "Колдонуучу"
10058, "Топ"
10059, "Блок"
10060, "Комментарий"
10061, "Ээлеген ахывал"

10062, "Префикс"
10063, "Баштыктар"
10064, "Файлдар"
10065, "Чыгарунун нускасы"
10066, "Үн"
10067, "Многотомный"
10068, "Смещение"
10069, "Шилтемелер"
10070, "Блоктордун саны"
10071, "Бөлүктөрдүн саны"
10072, "64-Бит"
10073, "Big-Endian"

10074, "Процессор"
10075, "Физикалык өлчөм"
10076, "Тилкөү көлөгү"
10077, "Тексерүү чектер суммасы"
10078, "Текшерүү кеңиши"
10079, "Салмактык дарек"
10080, "Өлчөмү"

10081, "Бош жерлер"
10082, "Кластерлер"
10083, "Томдун аты"
10084, "Жергиликти аты"
10085, "Камсыздоочу"
10086, "Колдонуучу тарабынан аныкталган"
10087, "Комментарий өлчөмү"  
10088, "Архивдин түрү"
10089, "Убакты Убакты "
10090, "Атрибуттар"
10091, "Өлчөмү"
10092, "Кысуу"
10093, "Аты"
10094, "Архивдердин тизмеси:"
10095, "%d файлов, %d каталогов"
10096, "Ката: \"%s\" файл эмес"
10097, "2345.com"
10098, "Архивдин түрү жеткиликтүү эмес"
10099, "Эс жетишсиз"
10100, "Файдардын саны: "
10101, "Файды ачууга мүмкүн эмес"
10102, "Файлды сканирлөөдө ката"
10103, "Мындай файл бар"

10104, "Файл өчүрүлгөн жок"
10105, "Файл көчүлүлгөн жок"
10106, "Көптөмдүк архивди жаңыртуу жеткиликтүү эмес"
10107, "SFX-модулу ачылган жок"
10108, "Көптөмдүк архивди сыяктуу кийин Emailге жөнөтүүдөн башкаруу мүмкүн эмес"
10109, "SFX-модуль белгиленбеген"
10110, "Белгиленген SFX-модулу табылган жок"
10111, "Архивди жасоо мүмкүн эмес: мындай ат менен баштык бар"
10112, "Көптөмдүк архив жеткиликтүү эмес,анткени мындай архив учурда бар"
10113, "Файлдарды убактылуу баштыктан ("%s") негизги баштыка көчүрүү..."
10114, "Email аркылуу архивди жиберүү мүмкүн эмес: Mapi32.dll китепканасын жүктөө мүмкүн эмес"
10115, "Email аркылуу архивди жиберүү мүмкүн эмес: динамикалык функцияны жүктөө мүмкүн эмес"
10116, "Кыймыл токтотулган"
10117, "Электрондук почта сервери менен байланыш жок"
10118, "Файлды эл. почта аркылуу жөнөтүү болбоду:
10119, "Убактылуу баштыка туташуу файлын жазууга болбоду"
10120, "Туташкан файлды ачуу мүмкүн эмес"
10121, "Файлдарды кысуу: "
10122, "Ката: %s архивин ачуу мүмкүн эмес"
10124, "Файлдарды сканирлөө..."
10125, "Архивди жаңыртуу"
10126, "Архивди жасоо"
10127, "Стандарттык чыгуу"
10128, ":"
10129, ","

10133, "Жараксыз сырсөз"
10134, "Күтүлбөгөн ZIP файлынын аягы"
10135, "CRC башкы-маалымат катасы"
10136, "CRC файлдын башкы-маалыматы катасы"
10137, "Файлдын текщерүү суммасы туура эмес"
10138, "Файлдын маалыматы катасы - архивдин форматын аныктоого болбоду"
10139, "Көп томдук файлдары колдонулбайт"
10140, "Маалыматтарды окуу учурунда ката пайда болду. Файл бузук болушу мүмкүн
10141, "Файлда маалыматтарды жылжытуу табылбады"
10142, "Маалыматтарды файлга жазууга болбоду"
10143, "ISZ архивдери үчүн сырсөз жеткиликтүү эмес"
10144, "Архивдин форматы бул версия үчүн жеткиликтүү эмес"
10145, "Операция катасы"
10146, "Сырсөздүн узундугу чектен ашат"
10147, "Бул мүмкүн ушул учурда ишке ашпады"
10148, "Колдонуучунун аяктоо операциясы"
10149, "Интерфейс иштетилген эмес"

10150, "Кыймыл учурунда ката"
10151, "Эс жетишсиз".
10152, "Функциянын параметрлеринде ката"
10153, "Класстын интерфейси ищке ашырылган эмес"
10162, "Декодырлоо учурунда ката"
10163, "Архивдин тому сынган"
10164, "Көптомдуу".
10166, "Тизмедеги бул файл табылбады: "%s".
10167, "Көптомдуу архивдер үчүн жаңылоо кыймылы жеткиликтүү эмес"
10168, "RAR архиви бекитилген. Жаңылоо жеткиликтүү эмес"
10169, "Кысуу ишке ашпады,мындай архив бар же окууга гана жеткиликтүү"
10170, "Файл түзүү болбой калды"
10171, "Керектүү том табылган жок"
10172, "Архивдин белгисиз форматы же архив жараксыз"
10173, "Файлды түзүүгө болбоду: Файлдын же жолдун узундугу 255 тамгын ашырбаш керек"
10174, "_Haozip-көптомдуу архиви readme.txt"
10175, "Бул көптомдуу архив Haozip тиркемеси аркылуу жасалган"

10176, "Кысуу аякталды, архивди текшерүүдө ката табылбады"
10178, "Кысылуучу файл тизмеде бар, кыймыл токтотулду"
10179, "Баштыкы катуу"
10180, "Баштыкы көрсөтүү"
10181, "Комментарийди катуу"
10182, "Комментарийди көрсөтүү"
10183, "Файлдын жолу бош"
10193, "Жолдун жана файл атынын жалпы узундугу 260 тамганы ашырбаш керек"
10194, 'RAR файлын жаңылоо мүмкүн эмес'.
10195, "Архивдин форматы жаңылоо кыймылын колдобойт"
10196, "Архивдин форматы жасоо кыймылын колдобойт"
10197, "SFX"

10198, "Колдонуучу кыймылды токтоту"
10199, "Колдонулуу: SFX файлдары [<command>] [<switches>]"
10200, "<Commands>
10201, "l: Архивдин мазмуну чыгаруу"
10202, "t: Архивдин туруктулугун Текшерүү"
10203, "x: толук жол менен файлдарды чыгаруу (алдынала тандалган)"
10204, "<Switches>"
10205, "-o {Directory}: Чыгуу баштыгын орнотуу"
10206, "-p {password}: сырсөздүү орнотуу"
10207, "-y  бардык талаптар үчүн"
10208, "Командалык сап туура эмес"
10209, "Командалык сапта тамга туура эмес"
10210, "SFX модулу табылган жок"
10211, "Архивдер:"
10212, "Батыктар:"
10213, "Файлдар:"
10214, "Өлчөм:"
10215, "Кысуу:"

10216, "; Кийинки комментарии SFX скриптин командаларын камтыйт"
10217, "SFX файлы"
10218, "Лицензия"
10219, "Тиркемени жүргүзүүгө болбоду: %s"
10220, "Ярлык түзүү болбой калды. Файл жок: %s"
10221, "Ярлык түзүү болбой калды: %s"
10222, "Белгисиз"
10223, "байт"
10224, "Өзгөртүлгөн"
10225, "Белгисиз убакыт"
10226, "SFX файлы"
10227, "[Чыгаруу] баскычын басыңыз.\r\n\r\nМаксаттык баштыкы тандоо үчүн [Көрүү...] баскычын басыңыз. \r\n\r\nЭгер максаттык баштыгы жок болсо, ал автоматтык түрдө жаратылат."
10228, "Чыгаруу..."
10229, "Чыгаруу аякталды"
10230, "Жабуу"
10231, "Максаттык быштыкы тандоо"
10232, "Айнуу"
10233, "Чыгаруу"
10234, "&Кабыл албоо"
10235, "&Кабыл алуу'"

10236, "Чыгаруу үчүн быштыкы көрсөтүңүз"
10237, "Чыгаруу үчүн быштыкы түзүүгө болбоду:"
10238, "Чыгаруу быштыгына жазуу мүмкүн эмес:"
10239, "Шифрленген архив ачылбады. Сырсөз туура эмес болушу мүмкүн"
10240, "Чыгаруу"
10241, "Чыгаруу операциясы токтотулду"
10242, "Чыгаруу операциясы ишке ашпады"
10243, "Параметрлерди жүктөөдө ката"
10244, "SFX орнотуу программасы"
10245, "Кеңеш"
10246, "Томдун саны өтө чоң. E-mail?"
10247, "LZH форматы 4GB ден чоң файлдын кысууну колдонобойт"
10248, "Файлды чыгара албадык, архивди толугуугу мене чыгарып көрүңүз"
20001, "Haozip Архиваторы"
20002, "HaoZip"
20003, "Архив"
20004, "HaoZip"
20005, "Маалымат - HaoZip"
20006, "Маалымат - HaoZip"

20007, "HaoZip ырастоо"
20008, "Ката HaoZip"
20009, "Тестирлөө жөнүндөө отчет"
20010, "Виртуалдык CD катары ачуу"
20011, "Пакет безопасности не установлен"
20012, "Кээ бир форматтар HaoZip менен байланыштырылган жок, HaoZip менен байланыштыруу үчүн 'ОК' баскычын басыңыз."
20013, "Эске салбоо"
20014, "- sn: тексттин чыгуусун тыйылган"
20015, "Мындай атту файл же баштык бар"
20016, "Виртуалдык CD катары ачуу"
20017, "Виртуалдык CD катары ачуу"
20018, "Виртуалдык CD катары ачуу"
20025, "Көп томдук"
20026, "BMP файлы"
20027, "JPG файлы"
20028, "GIF файлы"
20029, "PNG файлы"
20030, "CUR файлы"
20031, "ICO файлы"
20032, "TIF файлы"
20033, "TGA файлы"
20034, "PCX файлы"
20035, "WBMP файлы"
20036, "WMF EMF файлы"
20037, "JP2 файлы"
20038, "JPC файлы"
20039, "PGX файлы"
20040, "RAS файлы"
20041, "PNM файлы"
20042, "JBG файлы"
20043, "MNG файлы"
20044, "SKA файлы"
20045, "RAW файлы"

20046, "Файлды жазуу мүмкүн эмес: FAT32 файдык системасында файлдын өлчөмү 4 ГБты ашырбаш керек"
20047, "Кезектеги файл аты:%s"
20048, "Кезектеги файлдын өлчөмү: %s"
20049, "Дискетги бош өлчөм: %s"
20050, "Дисктен орун бошотуңуз же кыймылды токтотуңуз".
20051, "Учурдагы архивде файлдар жок.Cырсөздүү орнотуу мүмкүн эмес.Улантуу"
20052, "Сап алмаштыруу куралы"
20053, "Файлды көчүрүү ишке ашпады: дискте бош орун жетишсиз!"
20054, "HaoZip.lnk"
20055, "ZIP,7Z,RAR,TAR жана башка архивдердин форматтардын "
20056, "HaoZip"
20057, "Жардам HaoZip.lnk"
20059, "Жаңылатуу HaoZip.lnk"
20060, "Өчүрүү HaoZip.lnk"
20061, "Өзгөчө Профиль"
20062, "%s туура эмес символдор бар: \n\t%s"
20063, "Максаттык файл атын түзүүгө болбоду"
20064, "Архивдерди одаруу"
20065, "%s\n' туура эмес"
20066, "Сырсөз өзгөртүү кыймылы 7z же zip архивдин файлдарына гана жеткиликтүү"
20067, "Ар файлды бир архивге кошуу"
20068, "(Сунушталат)"
20069, "%s файлы өзгөртүлгөн жана башка тиркемеде ачылган. Тиркеме жабылгандан кийин архив жаңыланат"
20070, "Архивди сактоо үчүн файлдын атын тандаңыз"
20071, "Негизги архивди өчүрүү мүмкүн эмес: %s"
20072, "Убактылуу баштыкты түзүүгө болбоду"
20073, "Файлды кошуу мүмкүн эмес: мындай файл архивде бар"
20074, "Тандалган файл операцияны аяктоо үчүн, убакыт папкага копиялоо керек."
20075, "Файлдарды одаруурылган архивди камтыган папкага көчүрүү"
20076, "Файлды ачууга болбоду, файл жаңыланды"
20077, "Баштык өчүрүлбөй калды: %s"
20078, "Баштык жаратууга болбоду: %s"

20079, "%s атын %s өзгөртүүгө болбоду"
20080, "Файлды өчүрүүгө болбоду: %s"
20081, "Жаңы жана эски файлдын аты окшош".
20082, "Файлдын алдын ала көрүү форматы бар!"
20083, "Убакытылуу баштыкты түзүүгө болбоду!"
20084, "Файлдарды чыгаруу учурунда ката,кыймыл өткөрүлдү!"
20085, "Архивден чыгаруу мүмкүн эмес!"
20086, "Файдарды кысүү мүмкүн эмес!"
20087, "Файлды орнотуу катасы".
20088, "Файлдарды ж/а баштыктарды көрүү"
20089, "Файладры өзгөртүү"
20090, "Чыгаруу:"
20091, "Бардыгы: %s"
20092, "Архив катары ачууга болбойт!"
20093, "Файлдарды чыгаруу учурунда ката пйда болду"
20094, "Белгисиз ката"
20095, "Архивден чыгаруу:%s"
20096, "Файлдардын аты"
20097, "\t\t Текшерүү аяктады\n---------------------------------------------------------------\nАрхивде файлдардын саны\t: %s\nЧыгаруудан кийинки көлөмү  \t: %s (%s байт)"
20098, "\t\t Текшерүү аяктады\n------------------------------------------------------------\nАрхивдердин саны       \t: %s\nБаштыктардын саны \t: %s\nФайлдардын саны \t: %s\nЧыгаруудан кийинки көлөмү\t: %s (%s байт)\nАрхивдин көлөмү    \t: %s (%s байт)"
20100, "Текшерүү: ката жок"
20101, "Текшерүү: каталар бар"
20102, "Файлды чыгарууга болбоду!"
20103, "Чыгаруу аякталды. Негизг архивди өчүрүүсүзбү?"
20104, "Өчүрүү учурунда ката: %s"
20106, "Эс бөлүштүрүү учурунда ката"
20107, "Мындай кысуу колдонулбайт"


20108, "Шифрланбаган файлды чыгаруу учурунда ката пайда болду. Сырсөз туура эмес болушу мүмкүн.
20109, "Маалыматтардын катасы. Бул файл бузук болушу мүмкүн"
20110, "CRC сумма катасы. Файл бузук болушу мүмкүн"
20111, "Белгисиз ката"
20112, "Архивди чыгаруу"
20113, "Файлды көчүрүү катасы: баштыкты түзүүгө болбоду"
20114, "Файлды көчүрүү катасы: максаттык файл бар ж/а баштык эмес"
20115, "Файл маалыматы"
20116, "Архивдин маалыматы:"
20117, "Сырсөз туура эмес киргизилди"
20118, "Профиль табылган жок"
20119, "Профиль архивидин атын сактабайт:"
20120, "Архивдин аты бош"
20121, "Профиль файлдардын тизмесин сакталбайт"
20122, "Архивдер"
20123, "Кысуу катасы"
20124, "Файлды ачууга болбоду"
20125, "Чыгаруу катасы : %s"
20126, "Файлды ачууга болбоду"
20127, "Архивдин маалыматынын катасы"
20128, "Файлды архив катары %s ачуу мүмкүн эмес"
20129, "Файл жок!"
20130, "Файл окууга гана"
20131, "Убактылуу файлды жаратууга болбоду"

20132, "Файлды жаңыртууга болбоду:"
20133, "Архивдерди үй папкадан (%s) папкасын басып жатат..."
20134, "Файл жазууга болбоду!"
20135, "Архивди жаңыртууга болбоду"
20136, "Архив жаңыртыланды.Бирок аны ачуу мүмкүн эмес"
20137, "Архивдин ичин тазалоо болбоду"
20138, "Архивдин ичинде баштык жаратууга болбоду"
20139, "Архивдин ичинде ат которуу болбоду"
20140, "Архивде маалыматтарды жаңылоо мүмкүн эмес"
20141, "Архивдин жасалган саатын алуу мүмкүн эмес"
20142, "Бул форматта жаңылоо колдонулбайт"
20143, "Архивди иштөөтүүгө болбойт,файлдар окууга гана берилген"
20144, "Баштык жаратууга болбоду"
20145, "Файл жарата албайм"
20146, "Убакытылуу файлдарды баштыкта жаратууга болбоду:"
20147, "Тандалган файлдарда жана баштыктарда архивдер табылган жок!".
20148, "Мындай аттуу файл бар, файлдын атын автоматтык түрдө алмаштырууго болбоду"
20149, "Кысуу параметрлерин алдынала орнотуу"
20150, "Файлдардын форматын жүктөө..."
20151, "Орнотуу каталогунда файлдар жок:"
20152, "Компресия жана декомпресия операциялары аякталбайт"
20153, "Файлдын форматынын медиатекасын жүктөөгө болбоду"
20154, "Файлдарды окуу..."
20155, "Шифрланган файлдарды эске албоо"
20156, 'Файлдарды издөө...'
20157, "Окулган архивдердин саны (%d%%): бардыгы %s,окулду %s.Токтотуу үчүн [Esc] баскычын басыңыз"
20158, "Белгисиз"
20159, "Архивден чыгарауу: %u%%"
20160, "MD5     :
20167, "Колдонуучу кыймылды токтоту"
20170, "Даяр"
20172, "Архивдер"
20173, "Бардык колдонулган файлдар"
20174, "SFX файлдары"
20175, "Бардык файлдар"
20176, "Комментарийлерди колдоочу архивдер"
20177, "Архивтер"
20178, "Файлдардын аты"
20179, "Жол"
20180, "Бардык файлдар жана баштыктар"
20181, "Баштыктын аты"
20182, "Макул"
20183, "Каршы"
20184, "Артка"
20185, "Кесүү"
20186, "Көчүрүү"
20187, "Салуу"
20188, "Тазалоо"
20189, "&Баарын тандоо"
20190, "Файлды ачууга болбоду:"
20191, "Файлдын көлөмүү:%s байт, максималдык узундугу %s байт"
20192, "Тексттин көлөмүү: %s байт, максималдык узундугу %s байт"
20193, "Файлдын мазмунун окууга болбоду. Кодировка аныкталбады"
20194, "Файлдын мазмунун окууга болбоду:"
20195, "Текст файлын тандаңыз"
20196, "Көрсөтүү"
20197, "Токтотуу"
20198, "Улантуу"
20199, "Айнуу"
20200, "Профилдин атын киргизиңиз"
20201, "%s мындай файл бар, башка аты киргизиңиз"
20202, "Архивдин атын тандоо"
20203, "Кысыла турган файлдар жана папкалар"
20204, "Жаңы профиль файлын кошуу мүмкүн эмес"
20205, "бөлүм өзгөртүү мүмкүн эмес"
20206, "Өчүрүлгөндөн кийин кайталоо мүмкүн эмес... аны өчүрүүгө ишке ашпайсыз?"
20207, "Жаңы профиль"
20208, "Өзгөртүү үчүн элементтерди тандаңыз"
20209, "Учурдагы параметрлерди жаңы профиль катары сактоо..."
20210, "Өзүмдүк маалыматтарды орнотуу"
20211, "Профилди сактоого болбоду"
20212, "Аякталбаган томдун өлчөмү %d аты "%s" элементинде.
20213, "Профиль сакталбады, томдун өлчөмү туура эмес: %s"
20214, "Профиль сакталбады, томдун өлчөмү %d байттан кем эмес болушу керек"
20215, " Байт"
20216, "Профиль"
20217, "Өчүрүү мүмкүн эмес"
20218, "Бул жерге чыгаруу..."
20219, "Учурдагы баштыка чыгаруу"
20220, "Бул баштыка чыгаруу"
20221, "Ар бир архивди өзүнчөө баштыка чыгаруу"
20222, "Haozip аркылуу ачуу(SFX файлдары жана архивдерде гана ачуу)"
20223, "Архивге кошуу"
20230, "Архивди текшерүү"
20232, "MD5 суммасын текшерүү"
20233, "Сүрөт тандоо"
20234, "Файл *.bmp"
20235, "Файл *.ico"
20236, "Белги тандоо"
20237, "Сүрөт касиеттери барагында,кийинки толук жолду орнотуңуз: %s"
20238, "Сүрөт касиеттери барагында,кийинки файлын көрсөтүңүз: %s"
20239, "Сүрөт касиеттери барагында, %s бул-баштык, файлды тандаңыз"
20240, "Лицензия файлынын импортдоо ката: %s"
20241, "Модуль"
20242, "Маалымат"
20243, "Консолдук модулу"
20244, "Графикалык модулу"
20245, "32 битүү"
20246, "Впервые выберите пакет SFX"
20247, "%s(%s) параметрлерин колдонулбайт."
20248, "SFX архивдин файлдарын сактоо жолун тандаңыз"
20249, "Жаңы SFX архивдик файлы"
20250, "SFX архивдин атын тандаңыз"
20251, "SFX файлын сактоо үчүн жолун киргизиңиз"
20252, "SFX файлын сактоо үчүн абсолюттук жолун киргизиңиз"
20253, "SFX файлын сактоо үчүн туура жолду киргизиңиз"
20254, "SFXтин атын ж/а туура жолун киргизиңиз"
20255, "SFXтин жолунда кийинки символдор камтыбаш керек: \n%s"
20256, "Өчүрүүнүн себеби: кысуу аякталды"
20257, "Мындай файл бар:"
20258, "Бул аттуу баштык бар:"
20259, "SFX сактоо жолун киргизиңиз"
20260, "%s :Файлынан \nSFX %s файлын жаратууга болбоду"
20261, "&Жардам"
20262, "Cистема"
20263, "SFXтин орнотуулары сакталды"
20264, "Импорттоо ишке ашпады: %s"
20265, "%s файлдын кеңейтмси жок, EXE кеңейтмесин кошуу?"
20266, "SFXтин кеңейтилген орнотуулары"
20267, "Өтүү"
20268, "Файлдын конверсиясы жараяны"
20269, "Жабуу"
20270, "Даяр"
20271, "Файлды өчүрүү ишке ашпады"
20272, "Файлды өчүрүү ишке ашпады"
20273, "Улантуу"
20274, "Файлдын форматынын түзүү процесси токтотулган"
20275, "Кезектеги операцияны токтотуу"
20276, "Шифрланган архивдерди өткөрүү"
20277, "Кысуу үчүн файлдарды издөө"
20278, "Кысуу файлдарды издөө аякталды"
20279, "Архивди жаратуу %s"
20280, "Кысуу: %s"
20281, "Кысуу аякталды"
20282, "Жабуу себеби: чыгаруу аякталды"
20283, "Файлды текшерүү %s"
20284, "Файлды чыгаруу %s"
20285, "Текшерүү %s"
20286, "Чыгаруу %s"
20287, "\"%s\"-\"%s\" атына алмаштыруу ишке ашпады:"
20288, "Аты"
20289, "Жол"
20290, "Комбинациялоо файлын сактоо жолун киргизиңиз"
20291, "Белгилүү максаттык каталог түзүүгө болбоду: %s"
20292, "Көрсөтүлгөн баштыка жазуу болбойт. Башка каталог тандаңыз"
20293, "Тандалды %d"
20294, "Кошуу үчүн файлдарды же каталогдорду кошуу"
20295, "Файлдарды сактоо үчүн папканы тандаңыз"
20307, "Токтотуу"
20308, "%s байт \n\nөзгөртүлгөн: %s"
20309, "Файл аты:"
20310, "Өзгөртүлбөгөн"
20311, "Кыймыл токтотулду"
20312, "Файл өлчөмү: %I64u байт"
20313, "%I64u файлдын өлчөмү, эсептөө болбоду"
20314, "Файлдын версиясы: %s"
20315, "%d-%.02d-%.02d %.02d:%.02d:%02d"
20316, "Өзгөртүлгөн: %s"
20317, "Жабуу"
20318, "Аткарылуучу файл"
20319, "MD5 текшерүү санын эсептөө үчүн файлдарды же папкаларды тандаңыз"
20320, "Файлдын-сумммасы.txt"
20321, "Текст файлынын атын тандоо"
20322, "Файлды сактоо ишке ашпады:
20329, "Архивдерди издөө"
20330, "Архивдерди  калыбына келтирүү"
20331, "Даяр!"
20332, "Калыбына келтирүү аякталды"
20333, "Аткарылды:"
20334, "Ачуу файл: %s чыгаруу: %s"
20335, "Кысуу: "
20336, "Өткөрүү"
20337, "Баштык:"
20338, "Файл:"
20339, "Архивдин жаңылоо датасы: %s"
20340, "Архив: %s"
20341, "Максаттык папканы көрсөтүү"
20342, "Калыбына келтирүү үчүн баштыктын аты"
20343, "Кайталоо мүмкүн эмес баштык...\nКайталоо ишке ашпады"
20344, "Архивди кайталоо мүмкүн баштык...\nархивди кайталоо мүмкүн эмес"
20345, "Архивдин түрүн аныктоо..."
20346, "Баштоону улантуу..."
20347, "Пауза"
20348, 'Ката: %s %s"
20349, "Файлдарды издөө:"
20350, "Архивдер:"
20351, "Туура маани киргизиңиз"
20353, "Mega"
20354, "%d"
20355, "%d/%d"
20356, "Пауза"
20357, "Кысуу:
20359, "Комбинациялуучу файл %s аркылуу кысыштыруудан ашык"
20360, "Жаңы файл"
20361, "Файлдын аты келечектеги төмөндөгү белгилердин камтыбаш керек: \n %s"
20362, "Файлдын аты же жолу бош болушу мүмкүн эмес"
20363, "Өзгөрүлгөн: "
20364, "Убакыт белгисиз"
20365, "Кошуу"
20366, "Жаңылатуу"
20367, "Өчүрүү"
20368, "Файлдын аты"
20369, "Операция"
20370, "Өчүрүлгөн файлдар архивге жаңыланбат, улантуу"
20400, "Жабуу \(ESC)"
20401, "Жабуу (ESC)"
20402, "Комментарийди импорттоого болбоду: %s"
20403, "Бул формат кошууну колдобойт"
20404, "Архив окуу үчүн"
20405, "Архивдин форматы комментарий колдобойт"
20406, "Комментарийлерди өзгөртүүнү колдобойт"
20407, "Комментарийди өзгөртүү мүмкүн эмес"
20408, "Окуу архиву: %0.1f%% аякталды"
20409, "Haozip%s архив"
}
