1020 DIALOGEX 0, 0, 244, 115, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_CAPTION | WS_SYSMENU
CAPTION "Обновление HaoZip"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 PUSHBUTTON "Журнал обновлений", 1, 16, 96, 100, 14
 PUSHBUTTON "Отмена", 2, 127, 96, 100, 14
 CONTROL "", 1000, "msctls_progress32", WS_BORDER, 7, 75, 229, 10
 LTEXT "Загрузка -", 65535, 13, 57, 64, 11
 LTEXT "", 1015, 84, 57, 150, 11
 CONTROL 204, 1021, "STATIC", SS_BITMAP, 0, 0, 245, 42
}
