107 DIALOGEX 0, 0, 354, 286, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Страница свойств"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Содержание", 65535, 4, 4, 346, 179
 LTEXT "&Найти: (старые символы)", 1051, 11, 15, 145, 8
 EDITTEXT 1053, 22, 26, 257, 59, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 PUSHBUTTON "История", 1054, 286, 25, 58, 14
 LTEXT "&Заменить на: (новые символы)", 1052, 11, 92, 129, 8
 EDITTEXT 1070, 22, 103, 257, 59, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 PUSHBUTTON "История", 1055, 286, 110, 58, 14
 AUTOCHECKBOX "&Учитывать регистр", 1056, 79, 167, 77, 10
 AUTOCHECKBOX "&Только слово целиком", 1057, 162, 167, 95, 10
 GROUPBOX "Файлы", 65535, 4, 186, 346, 96
 LTEXT "Тип файла", 65535, 11, 198, 45, 8
 COMBOBOX 1059, 60, 198, 232, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "Обзор", 1064, 296, 197, 50, 14
 LTEXT "Папка", 65535, 11, 217, 45, 8
 COMBOBOX 1060, 60, 214, 232, 30, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "Обзор", 1065, 296, 214, 50, 14
 AUTOCHECKBOX "Включая подкаталоги", 1058, 49, 232, 136, 10
 AUTOCHECKBOX "&Включая файлы в архивах (только  Zip,7z,Tar )", 1061, 49, 248, 199, 10
 AUTOCHECKBOX "Резервная копия", 1062, 49, 264, 70, 10
 PUSHBUTTON "Путь к копии", 1063, 125, 262, 66, 14
}
