2000 DIALOGEX 0, 0, 300, 195, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Общие"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Выбор режима сжатия / декомпрессии", 2193, 5, 5, 290, 38
 AUTORADIOBUTTON "Обычный", 2208, 11, 17, 77, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Многопоточный", 2195, 11, 29, 77, 10, NOT WS_TABSTOP
 LTEXT "(Распределение ресурсов ЦП между приложениями)", 2196, 91, 17, 199, 8, WS_DISABLED
 LTEXT "(Сжатие/Декомпрессия с максимальной нагрузкой ЦП)", 2210, 91, 29, 199, 8, WS_DISABLED
 GROUPBOX "Интеграция в систему", 65535, 5, 48, 162, 83
 AUTOCHECKBOX "Интеграция HaoZip в оболочку ОС", 2042, 11, 60, 149, 10
 AUTOCHECKBOX "Вложенное меню", 2043, 15, 73, 132, 10
 AUTOCHECKBOX "Значки в 'Контекстном меню'", 2044, 15, 86, 132, 10
 AUTOCHECKBOX "Типы архивов в меню 'Создать'", 2049, 15, 99, 151, 10
 PUSHBUTTON "Настроить Контекстное меню...", 2045, 20, 113, 133, 14
 GROUPBOX "История/Журнал", 65535, 170, 48, 125, 83
 AUTOCHECKBOX "Вести историю архивов", 2046, 176, 60, 113, 10
 AUTOCHECKBOX "История в полях ввода", 2047, 176, 73, 113, 10
 AUTOCHECKBOX "Запись журнала ошибок", 2147, 176, 86, 113, 10
 PUSHBUTTON "Очистить историю", 2048, 176, 113, 113, 14
 GROUPBOX "Интерфейс", 65535, 5, 136, 290, 54
 AUTOCHECKBOX "Всегда поверх других окон", 2036, 15, 148, 126, 10
 AUTOCHECKBOX "Показывать комментарий архива", 2037, 15, 161, 126, 10
 AUTOCHECKBOX "Предотвращение засыпания системы", 2041, 15, 174, 141, 10
 AUTOCHECKBOX "Значок HaoZip на Рабочем столе", 2038, 160, 148, 129, 10
 AUTOCHECKBOX "Значок HaoZip в меню 'Пуск'", 2039, 160, 161, 129, 10
 AUTOCHECKBOX "Создать группу программ HaoZip", 2040, 160, 174, 129, 10
}
