2066 DIALOGEX 0, 0, 300, 195, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Система"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Папка для временных файлов", 65535, 5, 5, 290, 59
 AUTORADIOBUTTON "Временная папка системы", 2067, 13, 16, 136, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Указанная папка", 2069, 13, 31, 72, 10, NOT WS_TABSTOP
 EDITTEXT 2070, 89, 29, 143, 14, ES_AUTOHSCROLL
 PUSHBUTTON "Обзор", 2071, 238, 29, 50, 14
 AUTOCHECKBOX "Только для съемных дисков", 2072, 13, 46, 135, 10
 GROUPBOX "Папка запуска", 65535, 5, 69, 290, 47
 AUTORADIOBUTTON "Запуск из последней рабочей папки", 2041, 13, 82, 173, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Указать папку", 2146, 13, 98, 73, 10, NOT WS_TABSTOP
 EDITTEXT 2131, 89, 96, 143, 14, ES_AUTOHSCROLL
 PUSHBUTTON "Обзор", 2132, 238, 96, 50, 14
 GROUPBOX "Порог значения MD5-сумм", 65535, 5, 122, 290, 31
 AUTORADIOBUTTON "Отключить", 2152, 14, 135, 79, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Заданный размер", 2134, 83, 135, 73, 10, NOT WS_TABSTOP
 LTEXT "МБ", 65535, 209, 134, 20, 8
 EDITTEXT 2116, 165, 130, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
 GROUPBOX "Звук", 65535, 5, 159, 290, 31
 AUTOCHECKBOX "Включить звуки", 2073, 13, 172, 205, 10
}
