2077 DIALOGEX 0, 0, 300, 191, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Внешний вид"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Панель инструментов", 65535, 5, 5, 193, 71
 AUTOCHECKBOX "&Обычные кнопки", 2105, 13, 20, 88, 10
 AUTOCHECKBOX "&Адресная строка", 2202, 107, 20, 82, 10
 AUTOCHECKBOX "&Дерево папок диска", 2106, 13, 33, 104, 10
 AUTOCHECKBOX "Д&ерево папок архива", 2107, 13, 46, 142, 10
 AUTOCHECKBOX "Ото&бражать сжатые файлы", 2220, 13, 59, 115, 10
 GROUPBOX "Имя файла", 65535, 5, 80, 193, 41
 AUTOCHECKBOX "&Показывать архивы первыми", 2078, 13, 93, 116, 10
 AUTOCHECKBOX "В&ыделять цветом сжатые/зашифр. NTFS-файлы", 2079, 13, 107, 178, 10
 GROUPBOX "Параметры интерфейса", 65535, 5, 129, 134, 62
 PUSHBUTTON "&Установить шрифт", 2080, 12, 160, 75, 14
 GROUPBOX "Стиль списка", 65535, 200, 5, 98, 71, WS_GROUP
 AUTOCHECKBOX "Линии &сетки", 2112, 206, 16, 79, 10
 AUTOCHECKBOX "Строки &целиком", 2113, 206, 29, 79, 10
 GROUPBOX "Стиль размер файла", 65535, 200, 80, 98, 41
 AUTORADIOBUTTON "Стиль а&рхива", 2133, 206, 92, 79, 12, WS_GROUP
 AUTORADIOBUTTON "С&тиль Windows", 2135, 206, 106, 79, 12
 GROUPBOX "Выравнивание", 65535, 141, 129, 157, 62
 AUTOCHECKBOX "Упорядо&чить по имени", 2222, 147, 144, 99, 10
 AUTOCHECKBOX "Не &иерархическое отображение\n папок", 2223, 147, 153, 145, 21
}
