208 DIALOGEX 0, 0, 408, 258, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Результат Пакетной замены строк - Haozip"
FONT 9, "Segoe UI", 0, FALSE
{
 PUSHBUTTON "Отмена", 2, 353, 31, 50, 14
 LTEXT "Состояние:", 65535, 5, 5, 62, 8
 CONTROL "", 1064, "msctls_progress32", WS_BORDER, 73, 19, 239, 10
 LTEXT "Выполнение:", 65535, 5, 20, 63, 8
 LTEXT "Выполнено:", 65535, 5, 35, 49, 8
 LTEXT "      ", 1067, 316, 35, 25, 8
 LTEXT "", 1069, 73, 5, 318, 8
 LTEXT "      ", 1066, 316, 19, 25, 8
 CONTROL "", 1068, "msctls_progress32", WS_BORDER, 73, 34, 239, 10
 CONTROL "", 1116, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000801, 5, 51, 398, 202
}
