2103 DIALOGEX 0, 0, 301, 195, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Сжатие"
FONT 9, "Segoe UI", 0, FALSE
{
 GROUPBOX "Сжатие", 65535, 5, 5, 136, 71
 PUSHBUTTON "Настроить профиль по умолчанию", 2124, 11, 17, 125, 14
 PUSHBUTTON "Создать профиль", 2126, 11, 37, 125, 14
 PUSHBUTTON "Настроить метод архивации", 2144, 11, 57, 125, 14
 GROUPBOX "Список размеров томов", 65535, 146, 5, 149, 34
 PUSHBUTTON "Определить размеры томов...", 2129, 153, 19, 135, 14
 GROUPBOX "Автоопределение многотомных архивов", 65535, 146, 45, 149, 31
 AUTORADIOBUTTON "Вкл. (Рекомендуется)", 2148, 153, 59, 84, 10, WS_GROUP
 AUTORADIOBUTTON "Выкл.", 2149, 244, 59, 42, 10
 GROUPBOX "&Папка по умолчанию для архивов", 65535, 5, 82, 290, 34
 EDITTEXT 2073, 14, 95, 225, 14, ES_AUTOHSCROLL
 PUSHBUTTON "Обзор", 2074, 242, 95, 50, 14
 GROUPBOX "П&апка по умолчанию для извлекаемых файлов", 65535, 5, 121, 290, 51
 EDITTEXT 2075, 14, 134, 225, 14, ES_AUTOHSCROLL
 PUSHBUTTON "Обзор", 2076, 242, 134, 50, 14
 AUTOCHECKBOX "&Добавить к пути имя файла", 2151, 14, 154, 109, 10
 AUTOCHECKBOX "Удалять дубликаты папок", 2145, 128, 154, 104, 10
}
