2116 DIALOGEX 0, 0, 202, 151, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Управление профилями"
FONT 9, "Segoe UI", 0, FALSE
{
 GROUPBOX "Существующие профили", 65535, 4, 4, 139, 143
 PUSHBUTTON "Добавить", 2115, 148, 14, 50, 14
 PUSHBUTTON "Изменить", 2116, 148, 29, 50, 14
 PUSHBUTTON "Удалить", 2117, 148, 44, 50, 14
 PUSHBUTTON "Копировать", 3736, 148, 59, 50, 14
 PUSHBUTTON "&Вверх", 2118, 148, 79, 50, 14
 PUSHBUTTON "&Вниз", 2119, 148, 94, 50, 14
 PUSHBUTTON "&Справка", 9, 148, 114, 50, 14
 DEFPUSHBUTTON "Закрыть", 1, 148, 129, 50, 14
 LISTBOX 2120, 8, 15, 131, 128, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
}
