2119 DIALOGEX 0, 0, 300, 191, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Просмотр"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Просмотр текста", 65535, 5, 5, 290, 60
 AUTORADIOBUTTON "Встроенная программа", 2136, 17, 19, 95, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Ассоциированная программа", 2137, 17, 33, 115, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Спросить при открытии файла", 2138, 17, 46, 116, 10, NOT WS_TABSTOP
 GROUPBOX "&Распаковать весь архив для типов", 65535, 5, 72, 290, 53, WS_GROUP
 EDITTEXT 2117, 10, 86, 279, 14, ES_AUTOHSCROLL
 AUTORADIOBUTTON "Отключить", 2200, 19, 108, 76, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Размером меньше чем", 2201, 102, 108, 95, 10, NOT WS_TABSTOP
 EDITTEXT 2202, 200, 106, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
 LTEXT "Мбайт", 65535, 247, 110, 41, 8
 GROUPBOX "Игнорировать изменения для типов", 65535, 5, 131, 290, 39, WS_GROUP
 EDITTEXT 2118, 10, 148, 279, 14, ES_AUTOHSCROLL
}
