213 DIALOGEX 0, 0, 272, 101, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "HaoZip"
FONT 9, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&OK", 1, 137, 82, 50, 14
 PUSHBUTTON "&Отмена", 2, 199, 82, 50, 14
 ICON "", 1128, 18, 37, 21, 20
 LTEXT "Для изменения формата \"%s\", необходимо установить плагин. Подтверждаете установку?", 1133, 12, 6, 234, 16
 RTEXT "Имя:", 65535, 46, 31, 39, 8
 RTEXT "Автор:", 65535, 46, 46, 39, 8
 RTEXT "Описание:", 65535, 46, 61, 39, 8
 LTEXT "Статический", 1130, 89, 31, 154, 8
 LTEXT "Статический", 1131, 89, 46, 154, 8
 LTEXT "Статический", 1132, 89, 61, 154, 8
 LTEXT "Отказ", 1129, 20, 82, 68, 8
}
