2211 DIALOGEX 0, 0, 266, 64, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Диалог"
FONT 9, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&OK", 1, 216, 5, 50, 14
 PUSHBUTTON "&Отмена", 2, 216, 25, 50, 14
 LTEXT "", 2172, 44, 9, 165, 28
 LTEXT "", 2171, 8, 8, 32, 32
 AUTOCHECKBOX "", 2173, 15, 46, 190, 12
}
