3009 DIALOGEX 0, 0, 246, 228, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Комментарий"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 LTEXT "Комментарий:", 65535, 7, 5, 63, 8
 EDITTEXT 3044, 5, 19, 240, 188, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 3772, 5, 19, 235, 188, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
 LTEXT "", 3236, 70, 5, 170, 8
 PUSHBUTTON "Загрузить текст из файла", 3043, 5, 209, 120, 14
 AUTOCHECKBOX "Перенос слов", 3128, 148, 211, 92, 10
}
