3036 DIALOGEX 0, 0, 432, 269, 0
STYLE DS_SETFONT | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Пакетное переименование HaoZip"
FONT 9, "Segoe UI", 0, FALSE
{
 CONTROL "", 1000, "SysTabControl32", WS_TABSTOP, 5, 5, 188, 234
 GROUPBOX "Список файлов", 65535, 200, 6, 226, 234
 CONTROL "", 1002, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000801, 206, 17, 194, 200
 PUSHBUTTON "Добавить", 1003, 224, 222, 50, 14
 PUSHBUTTON "Удалить", 1004, 287, 222, 50, 14
 PUSHBUTTON "Убрать все", 3782, 350, 222, 50, 14
 PUSHBUTTON " ", 1108, 404, 72, 16, 14
 PUSHBUTTON " ", 1109, 404, 91, 16, 14
 PUSHBUTTON " ", 1110, 404, 110, 16, 14
 PUSHBUTTON " ", 1111, 404, 129, 16, 14
 CONTROL "", 65535, "STATIC", SS_BLACKFRAME | SS_SUNKEN, 5, 244, 421, 1
 AUTOCHECKBOX "Скрыть главное окно", 1112, 75, 253, 114, 10
 DEFPUSHBUTTON "Запуск", 1005, 0, 250, 64, 14
 PUSHBUTTON "Переименовать", 1006, 208, 250, 64, 14
 PUSHBUTTON "Отмена", 2, 282, 250, 64, 14
 PUSHBUTTON "&Справка", 3020, 356, 250, 64, 14
}
