3038 DIALOGEX 0, 0, 195, 210, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "MS Shell Dlg", 0, FALSE
{
 LTEXT "Правило:", 65535, 7, 9, 59, 10
 EDITTEXT 3023, 7, 22, 168, 14, ES_AUTOHSCROLL
 LTEXT "Знак * имя исходного файла", 65535, 7, 45, 136, 10
 LTEXT "Знак # ввод цифры или буквы", 65535, 7, 58, 185, 10
 LTEXT "Начать с", 65535, 7, 75, 44, 8
 EDITTEXT 3024, 65, 73, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 1011, "msctls_updown32", 0x00000030, 105, 74, 10, 14
 LTEXT "Шаг", 65535, 7, 93, 42, 8
 EDITTEXT 3025, 65, 90, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 1013, "msctls_updown32", 0x00000030, 105, 89, 13, 14
 LTEXT "Кол-во знаков", 65535, 7, 111, 56, 8
 EDITTEXT 3026, 65, 106, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3033, "msctls_updown32", 0x00000030, 105, 105, 13, 14
 AUTOCHECKBOX "&Добавить нули", 3027, 7, 128, 67, 11
 AUTOCHECKBOX "Алфавит", 3028, 90, 129, 48, 10
 COMBOBOX 1113, 134, 127, 51, 49, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Изменить расширение", 1114, 7, 146, 88, 10
 EDITTEXT 1073, 101, 146, 42, 14, ES_AUTOHSCROLL
 LTEXT "Регистр букв", 65535, 7, 163, 65, 10
 COMBOBOX 1016, 7, 175, 127, 30, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
 AUTOCHECKBOX "Автоматически устранять конфликты имён", 1017, 7, 193, 166, 11
}
