3040 DIALOGEX 0, 0, 195, 208, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Segoe UI", 0, FALSE
{
 EDITTEXT 3029, 49, 28, 124, 14, ES_AUTOHSCROLL
 EDITTEXT 3030, 49, 48, 123, 14, ES_AUTOHSCROLL
 LTEXT "Заменить", 65535, 7, 30, 34, 9
 LTEXT "Замена символов в имени файла", 65535, 7, 9, 156, 8
 LTEXT "На", 65535, 7, 51, 26, 9
}
