3045 DIALOGEX 0, 0, 351, 66, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "Segoe UI", 0, FALSE
{
 PUSHBUTTON "", 3056, 10, 20, 20, 20
 LTEXT "Сведения о системе:", 3058, 43, 7, 128, 8
 CONTROL "Операционная система:", 3046, "STATIC", SS_LEFTNOWORDWRAP, 52, 21, 288, 8
 CONTROL "Размер памяти:", 3047, "STATIC", SS_LEFTNOWORDWRAP, 52, 31, 288, 8
 CONTROL "Процессор:", 3048, "STATIC", SS_LEFTNOWORDWRAP, 52, 41, 290, 8
 CONTROL "Жесткий диск:", 3049, "STATIC", SS_LEFTNOWORDWRAP, 52, 51, 169, 8
 LTEXT "Изменить параметры теста", 3050, 229, 51, 115, 8
}
