3052 DIALOGEX 0, 0, 372, 122, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "MS Shell Dlg", 0, FALSE
{
 CTEXT "Haozip протестирует скорость компрессии/декомпресси на вашем оборудовании, этот процесс может занять несколько минут.", 1075, 0, 36, 372, 20
 CTEXT "Чтобы гарантировать точность результатов, мы рекомендуем Вам закрыть другие приложения.", 1076, 0, 59, 372, 10
 PUSHBUTTON "", 1074, 109, 89, 134, 20
}
