3053 DIALOGEX 0, 0, 351, 138, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "MS Shell Dlg", 0, FALSE
{
 CTEXT "Оценка производительности, подождите...", 1085, 56, 20, 238, 8
 CONTROL "", 1081, "msctls_progress32", WS_BORDER, 67, 52, 196, 10
 LTEXT "0%", 1084, 272, 52, 22, 10
 CTEXT "Размер словаря: %s    Объем памяти: %s    Потоки: %s", 1083, 42, 78, 259, 8
 PUSHBUTTON "Остановить", 1082, 129, 97, 86, 14
}
