3055 DIALOGEX 0, 0, 351, 244, 0
STYLE DS_SETFONT | WS_CHILD
FONT 9, "MS Shell Dlg", 0, FALSE
{
 CTEXT "Размер словаря: %s    Объем памяти: %s    Потоки: %s", 1089, 45, 9, 262, 8
 LTEXT "Результат теста", 1090, 23, 34, 154, 8
 CTEXT "Сжатие скорость", 1091, 7, 59, 70, 8
 CTEXT "Сжатие CPU-загрузка", 1092, 78, 59, 79, 8
 CTEXT "Сжатие скорость", 1093, 165, 59, 69, 8
 CTEXT "Извлечение скорость", 1094, 245, 59, 75, 8
 CTEXT "Извлечение CPU-загрузка", 1095, 336, 59, 72, 18
 CTEXT "Извлечение скорость", 1096, 414, 59, 77, 8
 CTEXT "%s КБ/с", 1097, 27, 85, 29, 8
 CTEXT "%s %%", 1098, 98, 85, 22, 8
 CTEXT "%s MIPS", 1099, 183, 85, 29, 8
 CTEXT "%s КБ/с", 1100, 265, 85, 29, 8
 CTEXT "%s %%", 1101, 361, 85, 22, 8
 CTEXT "%s MIPS", 1102, 437, 85, 29, 8
 CTEXT "Результаты отражают систематическую оценку сжатия/извлечения только в справочных целях.", 1103, 64, 115, 296, 22
 RTEXT "", 1117, 140, 157, 25, 8
 PUSHBUTTON "", 1118, 170, 157, 25, 8
 RTEXT "Рейтинг:", 1104, 315, 160, 53, 8
 LTEXT "%s", 1105, 374, 156, 22, 12
 LTEXT "Оценка", 1106, 410, 160, 25, 8
 LTEXT "Просмотр рейтинга", 1107, 351, 173, 97, 8
 PUSHBUTTON "Повторить тест", 1087, 148, 209, 74, 14
 PUSHBUTTON "Выход", 1088, 237, 209, 79, 14
}
