3098 DIALOGEX 0, 0, 246, 228, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Информация"
FONT 9, "Segoe UI", 0, FALSE
{
 CONTROL "", 3020, "STATIC", SS_BLACKFRAME, 5, 14, 55, 209
 CTEXT "Архив HaoZip", 3247, 79, 7, 153, 10
 GROUPBOX "", 65535, 65, 16, 176, 32
 LTEXT "Версия для извлечения", 65535, 72, 24, 82, 8
 LTEXT "Базовая ФС", 65535, 72, 36, 82, 8
 GROUPBOX "", 65535, 65, 47, 176, 50
 LTEXT "Файлов", 65535, 72, 55, 38, 8
 LTEXT "Размер", 65535, 72, 65, 42, 8
 LTEXT "Размер в архиве", 65535, 72, 75, 57, 8
 LTEXT "Степень сжатия", 65535, 72, 85, 55, 8
 GROUPBOX "", 65535, 65, 96, 176, 42
 LTEXT "Размер SFX-модуля", 65535, 72, 105, 68, 8
 LTEXT "Комментарий", 65535, 72, 116, 57, 8
 LTEXT "Пароль", 65535, 72, 127, 57, 8
 CONTROL "1.0", 3042, "STATIC", SS_LEFTNOWORDWRAP, 171, 24, 65, 8, WS_EX_RIGHT
 LTEXT "Неизвестно", 3017, 167, 36, 70, 8, 0, WS_EX_RIGHT
 LTEXT "Неизвестно", 3016, 121, 55, 116, 8, 0, WS_EX_RIGHT
 LTEXT "Неизвестно", 3039, 121, 65, 116, 8, 0, WS_EX_RIGHT
 LTEXT "Неизвестно", 3018, 140, 75, 97, 8, 0, WS_EX_RIGHT
 LTEXT "Неизвестно", 3021, 135, 85, 101, 8, 0, WS_EX_RIGHT
 LTEXT "0 байт", 3022, 147, 105, 91, 8, 0, WS_EX_RIGHT
 LTEXT "Нет", 3014, 141, 116, 96, 8, 0, WS_EX_RIGHT
 LTEXT "Нет", 3019, 141, 127, 96, 8, 0, WS_EX_RIGHT
 GROUPBOX "Контрольная сумма файла (MD5)", 65535, 65, 141, 176, 30
 EDITTEXT 3041, 72, 153, 144, 12, ES_READONLY | NOT WS_BORDER
 EDITTEXT 3043, 72, 181, 117, 12, ES_READONLY | NOT WS_BORDER
 PUSHBUTTON "Подсчитать", 3703, 191, 180, 50, 14
 AUTOCHECKBOX "Удалить SFX-модуль", 3714, 72, 201, 105, 10, WS_DISABLED
 PUSHBUTTON "Извлечь", 3015, 191, 201, 50, 14
}
