3100 DIALOGEX 0, 0, 290, 185, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Комментарий"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 LTEXT "Комментарий архива", 65535, 10, 9, 73, 8
 LTEXT "(только для zip и 7z)", 3237, 90, 9, 172, 8
 PUSHBUTTON "Загрузить текст из файла", 3043, 10, 166, 120, 14
 AUTOCHECKBOX "Перенос слов", 3128, 174, 166, 92, 10
 EDITTEXT 3044, 5, 20, 281, 140, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 3772, 5, 20, 281, 140, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
}
