31015 DIALOGEX 0, 0, 302, 139, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Параметры"
FONT 9, "Segoe UI", 0, FALSE
{
 COMBOBOX 31027, 15, 31, 87, 65, CBS_DROPDOWN | CBS_OWNERDRAWVARIABLE | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 31028, 106, 31, 38, 105, CBS_DROPDOWN | WS_VSCROLL
 CONTROL "", 31029, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 169, 30, 50, 12
 CONTROL "", 31030, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 232, 30, 50, 12
 EDITTEXT 31031, 89, 64, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31032, 89, 81, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31035, 89, 97, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31034, 229, 64, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31033, 229, 80, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 AUTOCHECKBOX "Перенос строк", 31036, 162, 100, 63, 10
 COMBOBOX 31037, 5, 119, 119, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 DEFPUSHBUTTON "ОК(&O)", 1, 137, 120, 50, 14
 PUSHBUTTON "Применить(&P)", 31002, 192, 120, 50, 14
 PUSHBUTTON "Отмена(&C)", 2, 247, 120, 50, 14
 GROUPBOX "Редактор", 65535, 5, 55, 292, 60
 LTEXT "Имя", 65535, 15, 20, 39, 8
 LTEXT "Размер", 65535, 106, 20, 38, 8
 LTEXT "Текст", 65535, 171, 19, 50, 8
 LTEXT "&Фон", 65535, 232, 19, 50, 8
 GROUPBOX "Шрифт", 65535, 5, 5, 145, 45
 GROUPBOX "Цвет", 65535, 157, 5, 140, 45
 LTEXT "Поле с Лева", 65535, 15, 68, 52, 8
 LTEXT "Поле с Права", 65535, 15, 84, 52, 8
 LTEXT "&Размер табуляции", 65535, 15, 100, 63, 8
 LTEXT "Лимит отмен", 65535, 162, 68, 63, 8
 LTEXT "Размер кэша(&M)", 65535, 162, 84, 63, 8
}
