31014 DIALOGEX 0, 0, 269, 75, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Заменить"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 COMBOBOX 31017, 60, 5, 135, 135, CBS_DROPDOWN | WS_VSCROLL
 COMBOBOX 31022, 60, 22, 135, 58, CBS_DROPDOWN | WS_VSCROLL
 AUTOCHECKBOX "Только слова целиком", 31018, 62, 42, 89, 10
 AUTOCHECKBOX "&Учитывать регистр", 31019, 62, 55, 89, 10
 DEFPUSHBUTTON "Найти далее(&F)", 1, 202, 5, 62, 14
 PUSHBUTTON "Заменить(&R)", 31000, 202, 22, 62, 14
 PUSHBUTTON "Заменить все(&A)", 31001, 202, 39, 62, 14
 PUSHBUTTON "Отмена(&C)", 2, 202, 56, 62, 14
 LTEXT "Найти:", 31023, 5, 6, 41, 8
 LTEXT "Заменить на:", 31024, 5, 23, 50, 8
}
