31011 DIALOGEX 0, 0, 276, 61, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Поиск(F)"
FONT 9, "Segoe UI", 0, FALSE
{
 COMBOBOX 31017, 51, 5, 149, 58, CBS_DROPDOWN | WS_VSCROLL
 AUTOCHECKBOX "Только слова целиком", 31018, 9, 25, 92, 10
 AUTOCHECKBOX "&Учитывать регистр", 31019, 9, 40, 79, 10
 AUTORADIOBUTTON "&Вверх", 31020, 115, 40, 31, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Вниз", 31021, 161, 40, 33, 10, NOT WS_TABSTOP
 DEFPUSHBUTTON "Найти далее(&F)", 1, 209, 5, 61, 14
 PUSHBUTTON "Отмена(&C)", 2, 209, 21, 61, 14
 LTEXT "Найти:", 31023, 9, 8, 36, 8
 GROUPBOX "Направление", 65535, 109, 25, 91, 30
}
