3103 DIALOGEX 0, 0, 290, 185, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Общие"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 LTEXT "Имя архива", 65535, 5, 8, 88, 8
 COMBOBOX 3076, 5, 22, 280, 95, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "Обзор", 3067, 235, 5, 50, 14
 GROUPBOX "Формат архива", 65535, 5, 40, 123, 28, WS_GROUP
 AUTORADIOBUTTON "Z&IP", 3774, 10, 52, 25, 10, WS_GROUP
 AUTORADIOBUTTON "7&Z", 3775, 38, 52, 22, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "", 3776, 65, 52, 10, 10, NOT WS_TABSTOP
 COMBOBOX 3777, 77, 50, 48, 101, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP
 LTEXT "Метод сжатия", 65535, 5, 71, 88, 8
 COMBOBOX 3075, 5, 82, 119, 81, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Метод обновления", 65535, 5, 99, 88, 8
 COMBOBOX 3079, 5, 110, 119, 81, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Разделить на тома, размером", 65535, 5, 127, 105, 8
 COMBOBOX 3074, 5, 138, 86, 90, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 COMBOBOX 3778, 93, 138, 31, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Формат для форума", 3740, 13, 154, 89, 9
 GROUPBOX "Параметры архивации", 65535, 132, 40, 153, 140
 AUTOCHECKBOX "Удалить файлы после упаковки", 3070, 137, 52, 130, 10
 AUTOCHECKBOX "Проверить созданный архив", 3109, 137, 66, 130, 10
 AUTOCHECKBOX "Создать непрерывный 7z-архив", 3073, 137, 80, 138, 10
 AUTOCHECKBOX "Каждый файл в отдельный архив", 3110, 137, 94, 145, 10
 AUTOCHECKBOX "По окончании выключить ПК", 3111, 137, 108, 130, 10
 AUTOCHECKBOX "&Сжать и отправить по E-mail", 3077, 137, 122, 130, 10
 AUTOCHECKBOX "Создать SFX-архив", 3078, 137, 136, 82, 10
 PUSHBUTTON "Настройки SFX", 3304, 222, 134, 62, 14
 PUSHBUTTON "Профили...", 3080, 5, 166, 119, 14
}
