3104 DIALOGEX 0, 0, 290, 185, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Алгоритм"
FONT 9, "Segoe UI", 0, FALSE
{
 GROUPBOX "Алгоритм сжатия", 65535, 5, 5, 280, 90
 LTEXT "Метод:", 65535, 11, 20, 53, 8
 COMBOBOX 3288, 71, 18, 91, 51, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Размер словаря:", 65535, 11, 38, 59, 8
 COMBOBOX 3289, 71, 36, 91, 119, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Размер слова:", 65535, 11, 56, 53, 8
 COMBOBOX 3290, 71, 54, 91, 96, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Размер блока:", 65535, 11, 74, 53, 8
 COMBOBOX 3291, 71, 71, 91, 132, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Потоки:", 65535, 168, 20, 37, 8
 COMBOBOX 3292, 211, 18, 32, 86, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "/ 2", 3298, 248, 20, 31, 8
 LTEXT "Фильтр:", 65535, 168, 38, 36, 8
 AUTORADIOBUTTON "&Включить", 3295, 168, 54, 44, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "В&ыключить", 3296, 224, 55, 49, 10, NOT WS_TABSTOP
 PUSHBUTTON "Редактировать список", 3297, 168, 70, 105, 14, WS_GROUP
 LTEXT "Память для сжатия:", 65535, 11, 109, 72, 8
 LTEXT "120 MB", 3293, 107, 109, 57, 8
 LTEXT "Память для извлечения:", 65535, 11, 123, 88, 8
 LTEXT "30 MB", 3294, 107, 123, 55, 8
 PUSHBUTTON "Параметры сжатия", 3712, 168, 117, 105, 14
}
