3248 DIALOGEX 0, 0, 259, 152, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Преобразование типа архива"
FONT 9, "Segoe UI", 0, FALSE
{
 DEFPUSHBUTTON "ОК", 1, 41, 133, 50, 14
 PUSHBUTTON "Отмена", 2, 105, 133, 50, 14
 PUSHBUTTON "&Справка", 3252, 169, 133, 50, 14
 ICON "", 3255, 13, 14, 21, 20
 LTEXT "Не удается обновить текущий архив", 65535, 47, 10, 202, 8
 LTEXT "HaoZip автоматически преобразует формат архива.", 65535, 47, 22, 202, 8
 LTEXT "Хотите продолжить?", 65535, 47, 34, 202, 8
 LTEXT "(Чтобы узнать больше, нажмите кнопку \"Справка\")", 65535, 12, 49, 233, 8
 LTEXT "Примечание: Преобразование может занять несколько минут", 65535, 13, 63, 241, 8
 AUTORADIOBUTTON "Преобразовать, сохранив исходный архив (рекомендуется)", 3249, 12, 91, 217, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Преобразовать и удалить исходный архив", 3250, 12, 105, 160, 10, NOT WS_TABSTOP
 PUSHBUTTON "&Настройка сжатия", 3254, 175, 101, 79, 14, WS_GROUP
 CTEXT "Line 1", 3701, 5, 121, 249, 8
 CTEXT "Line 2", 3702, 5, 77, 249, 8
}
