3260 DIALOGEX 0, 0, 392, 340, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Преобразование типа архива"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "ОК", 1, 106, 321, 50, 14
 PUSHBUTTON "Отмена", 2, 170, 321, 50, 14
 PUSHBUTTON "&Справка", 3271, 234, 321, 50, 14
 LTEXT "Архивы для преобразования", 65535, 4, 8, 173, 8
 CONTROL "", 3260, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000801, 4, 18, 206, 116
 PUSHBUTTON "&Добавить", 3262, 50, 136, 50, 14
 PUSHBUTTON "Удалить", 3263, 119, 136, 50, 14
 LTEXT "Выбор типа архива", 65535, 214, 8, 152, 8
 CONTROL "", 3261, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000803, 214, 18, 174, 116
 CTEXT "Выбранно 0", 3272, 217, 139, 71, 9
 PUSHBUTTON "Все", 3712, 292, 136, 43, 14
 PUSHBUTTON "Ничего", 3719, 340, 136, 43, 14
 GROUPBOX "Настройки преобразования", 65535, 4, 156, 384, 92
 AUTOCHECKBOX "Минимально допустимая степень сжатия:", 3264, 14, 167, 180, 11
 EDITTEXT 3266, 25, 182, 38, 14, ES_AUTOHSCROLL | ES_NUMBER
 CONTROL "", 3265, "msctls_updown32", 0x000000B6, 52, 182, 11, 14
 LTEXT "Если <новый>/<старый> больше данного значения, Haozip сохранит исходный файл без изменений.", 65535, 25, 200, 343, 11
 PUSHBUTTON "Параметры сжатия", 3273, 297, 167, 75, 13
 AUTOCHECKBOX "Папка для преобразованного архива", 3267, 14, 214, 180, 11
 EDITTEXT 3268, 25, 228, 347, 14, ES_AUTOHSCROLL
 PUSHBUTTON "Выбрать папку", 3269, 297, 213, 75, 13
 GROUPBOX "Настройки шифрования файлов", 65535, 4, 253, 206, 66
 AUTORADIOBUTTON "Пропускать зашифрованные файлы", 3309, 14, 264, 182, 14, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Преобразовать с новым паролем", 3310, 14, 278, 182, 12, NOT WS_TABSTOP
 AUTORADIOBUTTON "П&реобразовать, сохранив старый пароль", 3312, 14, 290, 182, 12, NOT WS_TABSTOP
 LTEXT "Пароль для извлечения:", 65535, 15, 305, 87, 10
 EDITTEXT 3715, 105, 303, 89, 12, ES_PASSWORD | ES_AUTOHSCROLL
 GROUPBOX "Расширенные опции", 65535, 214, 253, 174, 65, WS_GROUP
 AUTOCHECKBOX "Удалить архив после конвертации", 3270, 227, 265, 153, 10
 AUTOCHECKBOX "С&охранить исходный комментарий архива", 3311, 227, 279, 156, 10
 LTEXT "%", 65535, 66, 185, 8, 8
}
