3265 DIALOGEX 0, 0, 170, 81, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Переименование файла"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 EDITTEXT 3266, 5, 44, 160, 14, ES_AUTOHSCROLL
 DEFPUSHBUTTON "ОК", 1, 29, 62, 50, 14
 PUSHBUTTON "Отмена", 2, 89, 62, 50, 14
 LTEXT "Переименовать файл:", 65535, 5, 5, 127, 8
 LTEXT "Новое имя:", 65535, 5, 33, 96, 8
 EDITTEXT 3267, 5, 16, 160, 14, ES_AUTOHSCROLL | ES_READONLY
}
