3315 DIALOGEX 0, 0, 330, 241, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE = WS_EX_ACCEPTFILES
CAPTION "Инструмент HaoZip для подсчета контрольной суммы"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "Обзор", 3317, 10, 222, 46, 14
 PUSHBUTTON "Копировать", 3319, 62, 222, 46, 14, WS_DISABLED
 PUSHBUTTON "Очистить", 3318, 114, 222, 46, 14, WS_DISABLED
 PUSHBUTTON "Сохранить", 3320, 166, 222, 46, 14, WS_DISABLED
 PUSHBUTTON "Закрыть", 3330, 218, 222, 46, 14
 PUSHBUTTON "&Справка", 3331, 270, 222, 46, 14
 EDITTEXT 3316, 5, 5, 319, 123, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL, WS_EX_CLIENTEDGE
 GROUPBOX "Параметры", 65535, 5, 134, 319, 26
 AUTOCHECKBOX "Версия", 3325, 10, 146, 45, 10
 AUTOCHECKBOX "Время", 3326, 59, 146, 37, 10
 AUTOCHECKBOX "MD5", 3327, 101, 146, 37, 10
 AUTOCHECKBOX "SHA1", 3328, 140, 146, 37, 10
 AUTOCHECKBOX "CRC32", 3329, 179, 146, 44, 10
 AUTOCHECKBOX "С&крыть главное окно", 3740, 225, 146, 87, 10
 LTEXT "Текущий: ", 65535, 11, 168, 39, 8
 CONTROL "", 3322, "msctls_progress32", WS_BORDER, 53, 167, 263, 9
 LTEXT "Общий: ", 65535, 11, 182, 39, 8
 CONTROL "", 3323, "msctls_progress32", WS_BORDER, 53, 182, 262, 9
 LTEXT "Введите сумму для сравнения:", 65535, 11, 204, 108, 8
 EDITTEXT 3780, 122, 200, 142, 14, ES_AUTOHSCROLL
 PUSHBUTTON "С&равнить", 3333, 270, 200, 46, 15
}
