3335 DIALOGEX 0, 0, 300, 225, 0
STYLE DS_SETFONT | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_POPUPWINDOW
CAPTION "Список файлов"
FONT 9, "Segoe UI", 0, FALSE
{
 PUSHBUTTON "ОК", 1, 187, 206, 50, 14
 DEFPUSHBUTTON "Добавить", 3066, 73, 206, 50, 14
 PUSHBUTTON "Удалить", 3078, 130, 206, 50, 14
 PUSHBUTTON "Отмена", 2, 244, 206, 50, 14
 CONTROL "", 3068, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000801, 5, 5, 290, 195
}
