3700 DIALOGEX 0, 0, 280, 191, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Дополнительные параметры сжатия"
FONT 9, "Segoe UI", 0, FALSE
{
 GROUPBOX "Формат архива", 65535, 5, 5, 270, 31, WS_GROUP
 AUTORADIOBUTTON "Z&IP", 3774, 29, 20, 40, 8, WS_GROUP
 AUTORADIOBUTTON "7&Z", 3775, 76, 20, 40, 8, NOT WS_TABSTOP
 GROUPBOX "Метод сжатия", 65535, 5, 41, 270, 31, WS_GROUP
 AUTORADIOBUTTON "Скоростной", 3704, 11, 56, 52, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Быстрый", 3705, 66, 56, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Обычный", 3706, 112, 56, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Хороший", 3707, 159, 56, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Максимальный", 3708, 203, 56, 65, 10, NOT WS_TABSTOP
 GROUPBOX "Алгоритм сжатия", 65535, 5, 77, 270, 87, WS_GROUP
 LTEXT "Метод:", 65535, 11, 92, 27, 8
 COMBOBOX 3288, 43, 90, 101, 64, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Размер словаря:", 65535, 11, 110, 59, 8
 COMBOBOX 3289, 76, 108, 67, 61, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Размер слова:", 65535, 11, 128, 53, 8
 COMBOBOX 3290, 76, 126, 67, 94, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Размер блока:", 65535, 11, 146, 53, 8
 COMBOBOX 3291, 76, 143, 67, 109, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Потоки:", 65535, 170, 92, 27, 8
 COMBOBOX 3292, 203, 90, 32, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "(1 CPU)", 3298, 240, 92, 29, 8
 LTEXT "Память для сжатия:", 65535, 150, 112, 73, 8
 LTEXT "120 MB", 3293, 226, 112, 48, 8
 LTEXT "Память извлечения:", 65535, 150, 126, 73, 8
 LTEXT "30 MB", 3294, 226, 126, 48, 8
 PUSHBUTTON "&По умолч.", 3711, 5, 172, 50, 14
 PUSHBUTTON "Сбросить", 3710, 60, 172, 50, 14
 PUSHBUTTON "Применить", 1, 115, 172, 50, 14
 PUSHBUTTON "Закрыть", 2, 170, 172, 50, 14
 PUSHBUTTON "&Справка", 9, 225, 172, 50, 14
 AUTORADIOBUTTON "TA&R", 3776, 123, 20, 40, 8, NOT WS_TABSTOP
}
