3717 DIALOGEX 0, 0, 406, 292, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Тестирование производительности"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "&Запуск теста", 3737, 343, 15, 64, 16
 LTEXT "&Размер словаря:", 1010, 10, 19, 59, 8
 COMBOBOX 1011, 75, 17, 49, 140, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Память:", 1012, 136, 19, 31, 8
 LTEXT "0 MB", 1013, 178, 19, 36, 8
 LTEXT "Потоки CPU:", 1014, 225, 19, 50, 8
 COMBOBOX 1015, 281, 16, 44, 140, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Копировать данные", 3, 186, 271, 80, 16
 PUSHBUTTON "Закрыть", 2, 274, 271, 64, 16
 PUSHBUTTON "&Справка", 9, 345, 271, 64, 16
 GROUPBOX "Параметры теста:", 65535, 3, 4, 330, 34
 LTEXT "Результат: (оценка производительности может занять несколько минут)", 65535, 6, 43, 382, 10
 LTEXT "Статический", 3738, 6, 56, 405, 191
 LTEXT "Примечание: результаты теста отражают только условную производительность сжатия / извлечения. \nЧем выше оценка, тем лучше производительность.", 65535, 6, 250, 396, 17
}
