3720 DIALOGEX 0, 0, 290, 185, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Время"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Файлы для обработки", 65535, 5, 5, 280, 59
 LTEXT "Обрабатывать файлы", 65535, 19, 17, 82, 8
 COMBOBOX 3722, 19, 28, 87, 110, CBS_DROPDOWNLIST | WS_VSCROLL
 CTEXT "дней", 3729, 132, 17, 26, 8
 CTEXT "часов", 3730, 166, 17, 26, 8
 CTEXT "минут", 3731, 200, 17, 26, 8
 RTEXT "с", 3734, 110, 31, 17, 8
 CONTROL "", 3724, "SysDateTimePick32", WS_TABSTOP | 0x00000024, 130, 28, 57, 13
 CONTROL "", 3725, "SysDateTimePick32", WS_TABSTOP | 0x00000029, 189, 28, 49, 13
 RTEXT "по", 3735, 110, 48, 17, 8
 CONTROL "", 3732, "SysDateTimePick32", WS_TABSTOP | 0x00000024, 130, 45, 57, 13
 CONTROL "", 3733, "SysDateTimePick32", WS_TABSTOP | 0x00000029, 189, 45, 49, 13
 EDITTEXT 3726, 130, 28, 30, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 3727, 164, 28, 30, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 3728, 198, 28, 30, 14, ES_AUTOHSCROLL | ES_NUMBER
 GROUPBOX "Время архива", 65535, 5, 70, 280, 58
 LTEXT "Установить время архива по:", 65535, 19, 83, 104, 8
 COMBOBOX 3723, 19, 93, 120, 86, CBS_DROPDOWNLIST | WS_VSCROLL
}
