3830 DIALOGEX 0, 0, 503, 196, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Управление многотомными архивами"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 CONTROL "", 3832, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 7, 28, 220, 127
 CONTROL "", 3831, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 276, 28, 220, 127
 PUSHBUTTON "Добавить->", 3834, 228, 69, 46, 16
 PUSHBUTTON "<-Удалить", 3833, 228, 90, 46, 16
 AUTOCHECKBOX "Не использовать в следующий раз", 3837, 7, 173, 200, 11
 DEFPUSHBUTTON "ОК", 1, 325, 173, 50, 16
 PUSHBUTTON "Игнорировать", 2, 380, 173, 61, 16
 PUSHBUTTON "&Справка", 3836, 446, 173, 50, 16
 LTEXT "В данный момент доступны для выбора несколько томов, пожалуйста, выберите тома, и добавьте их в список для обработки", 65535, 7, 4, 478, 8
 LTEXT "Список томов:", 65535, 7, 16, 220, 8
 LTEXT "Список дублированных томов:", 65535, 276, 16, 220, 8
 LTEXT "", 3835, 12, 160, 216, 8
 LTEXT "", 3842, 277, 160, 216, 8
}
