4000 DIALOGEX 0, 0, 250, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION " Дополнительно "
FONT 9, "Дополнительно", 0, FALSE
{
 GROUPBOX "Удаление", 65535, 5, 5, 240, 55
 LTEXT "Файлы, удаляемые в папке назначения", 65535, 8, 17, 177, 8
 EDITTEXT 4027, 8, 28, 234, 14, ES_AUTOHSCROLL
 GROUPBOX "Ярлыки", 65535, 5, 66, 240, 143
 PUSHBUTTON "Добавить ярлык", 4029, 160, 192, 82, 14
 EDITTEXT 4028, 8, 78, 234, 109, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 AUTOCHECKBOX "С правами администратора", 4057, 15, 194, 134, 10
 AUTOCHECKBOX "Удалить исходный архив после извлечения", 4058, 15, 46, 222, 10
}
