4003 DIALOGEX 0, 0, 250, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Текст"
FONT 9, "Segoe UI", 0, FALSE
{
 LTEXT "Заголовок окна SFX", 65535, 5, 5, 130, 8
 EDITTEXT 4012, 5, 16, 240, 14, ES_AUTOHSCROLL
 LTEXT "Текст в окне SFX", 65535, 5, 34, 187, 8
 EDITTEXT 4014, 5, 45, 240, 145, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 4076, 5, 45, 240, 145, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
 PUSHBUTTON "Загрузить текст из файла", 4020, 5, 195, 109, 14
 AUTOCHECKBOX "Перенос слов", 4025, 169, 195, 70, 10
}
