4005 DIALOGEX 0, 0, 250, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Лицензия"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 LTEXT "Заголовок окна лицензии", 65535, 5, 5, 96, 8
 EDITTEXT 4019, 5, 15, 240, 14, ES_AUTOHSCROLL
 LTEXT "Текст лицензии", 65535, 5, 34, 80, 8
 EDITTEXT 4022, 5, 44, 240, 144, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 4075, 5, 44, 240, 144, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
 PUSHBUTTON "Загрузить текст из файла", 4035, 5, 195, 109, 14
 AUTOCHECKBOX "Перенос слов", 4016, 158, 195, 81, 10
}
