4008 DIALOGEX 0, 0, 230, 97, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Преобразование SFX-архива"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 PUSHBUTTON "Отмена", 2, 89, 79, 50, 14
 CONTROL "", 4049, "msctls_progress32", WS_BORDER, 5, 64, 220, 11
 LTEXT "Обработка:", 65535, 5, 5, 210, 8
 LTEXT "", 4050, 20, 17, 203, 8
 LTEXT "Сохранить в:", 65535, 5, 28, 210, 8
 LTEXT "", 4051, 20, 39, 203, 8
 LTEXT "Выполнено:", 65535, 5, 53, 180, 8
 CTEXT "", 4052, 198, 53, 27, 8
}
