4057 DIALOGEX 0, 0, 202, 265, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Добавить ключ"
FONT 9, "Segoe UI", 0, FALSE
{
 GROUPBOX "Место создания ключа", 65535, 7, 7, 188, 85
 AUTORADIOBUTTON "HKEY_CLASSES_ROOT", 4064, 14, 19, 150, 13, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "HKEY_CURRENT_USER", 4065, 14, 33, 150, 13, NOT WS_TABSTOP
 AUTORADIOBUTTON "HKEY_LOCAL_MACHINE", 4066, 14, 47, 150, 13, NOT WS_TABSTOP
 AUTORADIOBUTTON "HKEY_USERS", 4067, 14, 61, 150, 13, NOT WS_TABSTOP
 AUTORADIOBUTTON "HKEY_CURRENT_CONFIG", 4068, 14, 75, 150, 13, NOT WS_TABSTOP
 GROUPBOX "Параметры ключа реестра", 65535, 7, 95, 188, 141
 LTEXT "Путь:", 65535, 15, 109, 52, 8
 EDITTEXT 4069, 14, 120, 175, 13, ES_AUTOHSCROLL
 LTEXT "Имя ключа:", 65535, 15, 136, 52, 8
 EDITTEXT 4070, 14, 146, 175, 13, ES_AUTOHSCROLL
 LTEXT "Значение ключа:", 65535, 15, 162, 52, 8
 EDITTEXT 4071, 14, 172, 175, 13, ES_AUTOHSCROLL
 LTEXT "Тип данных ключа:", 65535, 15, 188, 66, 8
 AUTORADIOBUTTON "Строковый", 4072, 14, 201, 62, 9, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Параметр DWORD", 4073, 100, 201, 78, 9, NOT WS_TABSTOP
 AUTORADIOBUTTON "Расширяемый строковый параметр:", 4074, 14, 217, 137, 9, NOT WS_TABSTOP
 DEFPUSHBUTTON "ОК", 1, 17, 244, 50, 14
 PUSHBUTTON "Отмена", 2, 77, 244, 50, 14
 PUSHBUTTON "&Справка", 4056, 133, 244, 50, 14
}
