5000 DIALOGEX 0, 0, 225, 203, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Элементы контекстного меню"
FONT 9, "Segoe UI", 0, FALSE
{
 CONTROL "", 5001, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000801, 5, 5, 215, 175
 PUSHBUTTON "ОК", 1, 29, 184, 50, 14
 PUSHBUTTON "Отмена", 2, 87, 184, 50, 14
 PUSHBUTTON "&Справка", 9, 143, 184, 50, 14
}
