5001 DIALOGEX 0, 0, 226, 90, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Выбор кодировки"
FONT 9, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "ОК", 1, 57, 71, 50, 14
 PUSHBUTTON "Отмена", 2, 117, 71, 50, 14
 LTEXT "Поддерживаемые системой кодировки:", 65535, 7, 6, 153, 8
 COMBOBOX 5402, 5, 17, 216, 195, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Применить только для чтения архивов", 5404, 20, 39, 185, 10
 AUTOCHECKBOX "Сделать кодировкой HaoZip по умолчанию", 5405, 20, 52, 185, 10
}
