STRINGTABLE
LANGUAGE 4, 2
{
30000, "Virtual CD"
30001, "&Mount Image"
30002, "&Attached Images"
30003, "&Settings"
30004, "&Mount From History"
30005, "&Exit"
30006, "&Unmount All Images"
30007, "&View Image"
30008, "&Replace"
30009, "&Extract to ..."
30010, "&Unmount"
30011, "Mount Automatically"
30012, "Autostart"
30013, "&Clear history"
30014, "Select an image file"
30015, "The image was loaded successfully"
30016, "Image could not be loaded"
30017, "Unable to unmount image"
30018, "Image successfully unmounted"
30019, "Successfully disabled all images"
30020, "All Supported"
30021, "All Files"
30022, "The image is unmounted"
30023, "Unable to download dll file, reinstall HaoZip!"
30024, "HaoZip virtual CD was launched successfully!"
30025, "Virtual CD is running!"
30026, "Do not remind next time"
30027, "Exit Virtual CD?"
30028, "Image file does not exist"
30029, "The image file is corrupted"
30030, "Installing the Virtual CD Driver"
30031, "Please use administrator rights to run this software"
30032, "CD Drive"
30033, "Empty"
30034, "This file is already loaded on the Virtual CD."
30035, "Delete"
30036, "Please select the correct image file for the Virtual CD-ROM"
}
