STRINGTABLE
LANGUAGE 4, 2
{
30000, "Віртуальний CD"
30001, "Монтувати образ"
30002, "Підключені образи"
30003, "Параметры"
30004, "Монтувати з історії"
30005, "&Вихід"
30006, "Відмонтувати всі образи"
30007, "Перегляд образу"
30008, "Замінти"
30009, "Розпакувати в..."
30010, "Відмонтувуати"
30011, "Монтувати автоматично"
30012, "Автозапуск"
30013, "Очистити історію"
30014, "Виберіть файл образу"
30015, "Образ успішно змонтовано"
30016, "Не вдалося змонтувати образ"
30017, "Не вдалося відмонтувати образ"
30018, "Образ успішно відмонтовано"
30019, "Успішно відмонтовані всі образи"
30020, "Всі підтримувані"
30021, "Всі файли"
30022, "Образ відмонтовано"
30023, "Не вдається завантажити dll-файл, перевстановіть HaoZip!"
30024, "Віртуальний CD успішно запущено!"
30025, "Віртуальний CD - запущено!"
30026, "Не нагадувати наступного разу"
30027, "Вийти з віртуального CD?"
30028, "Файлу образу не існує"
30029, "Файл образу пошкоджено"
30030, "Інсталяція драйвера віртуального CD"
30031, "&Відмова"
30032, "CD привід"
30033, "Порожньо"
30034, "Цей файл вже був завантажений у віртуальний CD."
30035, "Видалити"
30036, "Будь ласка, виберіть файл правильний образ для віртуального CD-ROM"
}
