2000 DIALOGEX 0, 0, 300, 195, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Загальні"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Вибір режиму Стискання/Розпакування", 2193, 5, 5, 290, 38
 AUTORADIOBUTTON "Звичайний", 2208, 11, 17, 84, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Багатопотоковий", 2195, 11, 29, 83, 10, NOT WS_TABSTOP
 LTEXT "(Забезпечує плавність стискання/розпакування)", 2196, 101, 17, 177, 8, WS_DISABLED
 LTEXT "(Стискання/розпакування - макс. навантаження ЦП)", 2210, 101, 29, 188, 8, WS_DISABLED
 GROUPBOX "Інтеграція з системою", 65535, 5, 48, 162, 83
 AUTOCHECKBOX "Інтеграція в оболонку ОС", 2042, 11, 60, 145, 10
 AUTOCHECKBOX "&Вкладені меню", 2043, 20, 73, 132, 10
 AUTOCHECKBOX "Значки в К&онтекстному меню", 2044, 20, 86, 132, 10
 AUTOCHECKBOX "Типи архівів в меню 'Створити'", 2049, 20, 99, 144, 10
 PUSHBUTTON "Налаштувати Контекстне меню...", 2045, 20, 113, 132, 14
 GROUPBOX "Історія/Протокол", 65535, 170, 48, 125, 83
 AUTOCHECKBOX "В&ести історію архівів", 2046, 176, 60, 90, 10
 AUTOCHECKBOX "&Історія в полях введення", 2047, 176, 73, 95, 10
 AUTOCHECKBOX "&Ведення протоколу помилок", 2147, 176, 86, 113, 10
 PUSHBUTTON "Очистити Історію", 2048, 176, 113, 113, 14
 GROUPBOX "Інтерфейс", 65535, 5, 136, 290, 54
 AUTOCHECKBOX "З&авжди поверх інших вікон", 2036, 20, 148, 126, 10
 AUTOCHECKBOX "&Показувати коментар до архіву", 2037, 20, 161, 126, 10
 AUTOCHECKBOX "&Блокувати засинання системи", 2041, 20, 174, 126, 10
 AUTOCHECKBOX "З&начок HaoZip - на Робочому столі", 2038, 160, 148, 129, 10
 AUTOCHECKBOX "Зна&чок HaoZip - у меню 'Пуск'", 2039, 160, 161, 129, 10
 AUTOCHECKBOX "&Створити групу програм HaoZip", 2040, 160, 174, 129, 10
}
