2077 DIALOGEX 0, 0, 300, 191, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Зовнішній вигляд"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Панель інструментів", 65535, 5, 5, 193, 71
 AUTOCHECKBOX "&Головна панель", 2104, 13, 19, 76, 10
 AUTOCHECKBOX "П&ідписи на кнопках", 2150, 107, 19, 82, 10
 AUTOCHECKBOX "&Звичайні кнопки", 2105, 13, 33, 88, 10
 AUTOCHECKBOX "А&дресний рядок", 2202, 107, 33, 82, 10
 AUTOCHECKBOX "П&оказувати дерево папок на дисках", 2106, 13, 46, 141, 10
 AUTOCHECKBOX "По&казувати дерево папок в архівах", 2107, 13, 60, 142, 10
 GROUPBOX "Ім'я файлу", 65535, 5, 80, 193, 52
 AUTOCHECKBOX "&Показувати архіви першими", 2078, 13, 93, 108, 10
 AUTOCHECKBOX "&Виділяти кольорами стиснуті/зашифровані NTFS-файли", 2079, 13, 107, 178, 15, BS_MULTILINE
 GROUPBOX "Інтерфейс", 65535, 5, 137, 193, 42
 PUSHBUTTON "&Шрифт", 2080, 12, 152, 75, 14
 GROUPBOX "Стиль списку", 65535, 200, 5, 98, 71, WS_GROUP
 AUTOCHECKBOX "Пок&азувати сітку", 2112, 206, 16, 79, 10
 AUTOCHECKBOX "В&ибір цілого рядка", 2113, 206, 29, 79, 10
 AUTOCHECKBOX "Системне меню", 2203, 206, 42, 88, 10
 GROUPBOX "Стиль розміру", 65535, 200, 80, 98, 52
 AUTORADIOBUTTON "&Стиль архіву", 2133, 206, 92, 79, 12, WS_GROUP
 AUTORADIOBUTTON "С&тиль Windows", 2135, 206, 106, 79, 12
 GROUPBOX "Заголовок", 65535, 200, 137, 98, 42
 AUTOCHECKBOX "Показ&увати опис", 2199, 206, 153, 79, 10
}
