2103 DIALOGEX 0, 0, 300, 195, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Архівація"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Стискання", 65535, 5, 5, 136, 71
 PUSHBUTTON "&Створ. профіль по замовчуванню", 2124, 14, 17, 118, 14
 PUSHBUTTON "&Керування профілями...", 2126, 14, 37, 118, 14
 PUSHBUTTON "&Параметри стискання...", 2144, 14, 57, 118, 14
 GROUPBOX "Список розмірів томів", 65535, 146, 5, 149, 34
 PUSHBUTTON "&Визначити розміри томів...", 2129, 153, 19, 135, 14
 GROUPBOX "Автовизначення багатотомних архівів", 65535, 146, 45, 149, 31
 AUTORADIOBUTTON "Ув&імкн (Рекоменд.)", 2148, 153, 59, 84, 10, WS_GROUP
 AUTORADIOBUTTON "Ви&мкнено", 2149, 244, 59, 48, 10
 GROUPBOX "П&апка по замовчуванню для архівів:", 65535, 5, 82, 290, 34
 EDITTEXT 2073, 14, 95, 225, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&Огляд...", 2074, 242, 95, 50, 14
 GROUPBOX "Папка по &замовчуванню для файлів, що розпаковуються:", 65535, 5, 121, 290, 51
 EDITTEXT 2075, 14, 134, 225, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&Огляд...", 2076, 242, 134, 50, 14
 AUTOCHECKBOX "&Додати ім'я файлу", 2151, 14, 154, 109, 10
 AUTOCHECKBOX "В&идаляти дубльовані папки", 2145, 128, 154, 104, 10
}
