2116 DIALOGEX 0, 0, 202, 151, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Керування профілями"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "&Існуючі профілі:", 65535, 4, 4, 139, 143
 PUSHBUTTON "Дод&ати", 2115, 148, 14, 50, 14
 PUSHBUTTON "З&мінити", 2116, 148, 29, 50, 14
 PUSHBUTTON "В&идалити", 2117, 148, 44, 50, 14
 PUSHBUTTON "&Копіювати", 3736, 148, 59, 50, 14
 PUSHBUTTON "В&гору", 2118, 148, 79, 50, 14
 PUSHBUTTON "В&низ", 2119, 148, 94, 50, 14
 PUSHBUTTON "&Допомога", 9, 148, 114, 50, 14
 DEFPUSHBUTTON "&Закрити", 1, 148, 129, 50, 14
 LISTBOX 2120, 8, 15, 131, 128, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
}
