2119 DIALOGEX 0, 0, 300, 191, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Перегляд"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Перегляд тексту", 65535, 5, 5, 290, 60
 AUTORADIOBUTTON "&Вбудована програма", 2136, 17, 19, 95, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "&Асоційована програма", 2137, 17, 33, 96, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Запитати", 2138, 17, 46, 93, 10, NOT WS_TABSTOP
 GROUPBOX "&Розпаковувати весь архів для файлів", 65535, 5, 72, 290, 53, WS_GROUP
 EDITTEXT 2117, 10, 86, 279, 14, ES_AUTOHSCROLL
 AUTORADIOBUTTON "Вимкнути", 2200, 19, 108, 92, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Менше чим", 2201, 117, 108, 67, 10, NOT WS_TABSTOP
 EDITTEXT 2202, 184, 106, 40, 14, ES_AUTOHSCROLL | ES_NUMBER
 LTEXT "Мбайт", 65535, 230, 109, 41, 8
 GROUPBOX "Ігнорувати зміни для", 65535, 5, 131, 290, 39, WS_GROUP
 EDITTEXT 2118, 10, 148, 279, 14, ES_AUTOHSCROLL
}
