212 DIALOGEX 0, 0, 297, 105, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Діалог"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "ОК", 1, 80, 86, 58, 14
 PUSHBUTTON "Відмова", 2, 160, 86, 58, 14
 LTEXT "Статичний", 1124, 5, 8, 287, 26
 AUTOCHECKBOX "Check1", 1125, 10, 42, 276, 10
 AUTOCHECKBOX "Check2", 1126, 10, 58, 276, 10
}
