2163 DIALOGEX 0, 0, 300, 191, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Безпека"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "статичний", 2207, 31, 93, 66, 13, SS_NOTIFY
 LTEXT "статичний", 2208, 121, 93, 66, 13, SS_NOTIFY
 LTEXT "статичний", 2209, 205, 93, 66, 13, SS_NOTIFY
 GROUPBOX "Налаштування Модуля Безпеки і виявлення загроз", 65535, 5, 8, 290, 155
 PUSHBUTTON "&Відкрити", 2210, 240, 19, 50, 14
 PUSHBUTTON "&Додатково...", 2211, 217, 171, 61, 14
 LTEXT "QQ Computer Manager", 2212, 135, 42, 30, 23, SS_NOTIFY
 LTEXT "Dual-Core Engine", 2213, 39, 39, 30, 23, SS_NOTIFY
 LTEXT "360", 2214, 225, 43, 30, 23, SS_NOTIFY
 LTEXT "Ввімкнено", 2215, 32, 93, 66, 18
 LTEXT "Ввімкнено", 2216, 121, 93, 66, 19
 LTEXT "Ввімкнено", 2217, 205, 93, 66, 19
 LTEXT "Зупинити", 2218, 249, 20, 32, 8, SS_NOTIFY
 LTEXT "Dual-core", 2219, 32, 75, 57, 8
 LTEXT "QQ detecting", 2220, 121, 75, 49, 8
 LTEXT "360 detecting", 2221, 205, 75, 55, 8
 LTEXT "Модуль безпеки увімкнено, виберіть зі списку один із можливих засобів сканування:", 65535, 22, 19, 204, 18
 LTEXT "Потужний двоядерний Модуль безпеки і виявлення загроз", 65535, 19, 121, 262, 12
 LTEXT "-Захист комп'ютера від троянів і вірусів", 65535, 22, 144, 262, 12
 LTEXT "-Двоядерне виявлення та усунення загроз", 65535, 22, 132, 262, 12
}
