3010 DIALOGEX 0, 0, 418, 242, 0
STYLE DS_SETFONT | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_POPUPWINDOW
CAPTION "Діагностичні повідомлення"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 PUSHBUTTON "&Копіювати", 3224, 188, 221, 70, 14
 PUSHBUTTON "З&берегти", 3225, 264, 221, 70, 14
 PUSHBUTTON "&Закрити", 2, 340, 221, 70, 14
 CONTROL "", 3209, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000809, 7, 7, 404, 210
}
