3013 DIALOGEX 0, 0, 203, 88, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE = WS_EX_TOPMOST
CAPTION "Вимикання ПК"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&Вимкнути (10 с)", 1, 27, 65, 68, 14
 PUSHBUTTON "В&ідмова", 2, 107, 65, 68, 14
 LTEXT "Операцію завершено, комп'ютер буде вимкнено!\nБудь ласка, закрийте всі програми, щоб уникнути втрати даних.", 65535, 14, 15, 179, 25
 LTEXT "Причина вимикання:", 3237, 14, 47, 167, 8
 GROUPBOX "Увага!", 65535, 5, 5, 193, 78
}
