3052 DIALOGEX 0, 0, 372, 122, 0
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CTEXT "Haozip визначить ефективн≥сть апаратних засоб≥в, цей процес може зайн€ти к≥лька хвилин.", 1075, 12, 41, 349, 10
 CTEXT "ўоб гарантувати точн≥сть результат≥в випробувань, ми рекомендуЇмо закрити ≥нш≥ програми.", 1076, 0, 59, 372, 10
 PUSHBUTTON "", 1074, 109, 89, 134, 20
}
