3053 DIALOGEX 0, 0, 351, 138, 0
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CTEXT "Визначається потужність вашого комп'ютера, будь ласка, зачекайте...", 1085, 56, 20, 261, 8
 CONTROL "", 1081, "msctls_progress32", WS_BORDER, 71, 51, 209, 10
 LTEXT "0%", 1084, 284, 52, 22, 10
 CTEXT "Розмір словника: %s    Об'єм пам'яті: %s    Потоків: %s", 1083, 42, 78, 259, 8
 PUSHBUTTON "Зупинити", 1082, 141, 97, 86, 14
}
