3054 DIALOGEX 0, 0, 487, 247, 0
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CTEXT "Тест потужності апаратного забезпечення було скасовано, виконуємо повторний тест", 1115, 45, 9, 336, 8
 LTEXT "Результат тесту", 1090, 23, 34, 124, 8
 CTEXT "Швидкість запакування", 1091, 7, 59, 76, 17
 CTEXT "Навантаження CPU ", 1092, 83, 59, 69, 8
 CTEXT "Рейтинг запакування ", 1093, 166, 59, 43, 17
 CTEXT "Швидкість розпакування", 1094, 227, 59, 81, 17
 CTEXT "Навантаження CPU ", 1095, 305, 59, 88, 8
 CTEXT "Рейтинг розпакування ", 1096, 398, 59, 76, 17
 CTEXT "%s Кб/с", 1097, 21, 85, 29, 8
 CTEXT "%s %%", 1098, 94, 85, 22, 8
 CTEXT "%s MIPS", 1099, 171, 85, 29, 8
 CTEXT "%s Кб/с", 1100, 247, 85, 29, 8
 CTEXT "%s %%", 1101, 335, 85, 22, 8
 CTEXT "%s MIPS", 1102, 421, 85, 29, 8
 CTEXT "Результати відбивають тільки систематичну оцінку звичайної роботи запакування/розпакування в довідкових цілях.", 1103, 66, 115, 319, 20
 RTEXT "Загальна сума балів: Дані недійсні.", 1104, 276, 157, 147, 17
 LTEXT "%s", 1105, 427, 157, 10, 8
 LTEXT "Рахунок", 1106, 445, 157, 29, 8
 LTEXT "Оцінка результату", 1107, 361, 181, 97, 8
 PUSHBUTTON "Повторити тест", 1074, 155, 203, 71, 14
 PUSHBUTTON "Вихід", 1086, 239, 203, 73, 14
}
