3055 DIALOGEX 0, 0, 505, 244, 0
STYLE DS_SETFONT | WS_CHILD
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CTEXT "Розмір словника: %s    Об'єм пам'яті: %s    Потоків: %s", 1089, 45, 9, 262, 8
 LTEXT "Результат тесту", 1090, 23, 34, 154, 8
 CTEXT "Швидкість запакування", 1091, 7, 59, 70, 17
 CTEXT "Навантаження CPU ", 1092, 78, 59, 79, 8
 CTEXT "Швидкість запакування", 1093, 165, 59, 69, 17
 CTEXT "Швидкість розпакування", 1094, 245, 59, 75, 17
 CTEXT "Навантаження CPU ", 1095, 335, 59, 72, 8
 CTEXT "Швидкість розпакування", 1096, 414, 59, 77, 17
 CTEXT "%s Кб/с", 1097, 27, 85, 29, 8
 CTEXT "%s %%", 1098, 98, 85, 22, 8
 CTEXT "%s MIPS", 1099, 183, 85, 29, 8
 CTEXT "%s Кб/с", 1100, 265, 85, 29, 8
 CTEXT "%s %%", 1101, 361, 85, 22, 8
 CTEXT "%s MIPS", 1102, 437, 85, 29, 8
 CTEXT "Результати відбивають тільки систематичну оцінку звичайної роботи запакування/розпакування в довідкових цілях.", 1103, 64, 115, 296, 22
 RTEXT "", 1117, 140, 157, 25, 8
 PUSHBUTTON "", 1118, 170, 157, 25, 8
 RTEXT "Загальна сума балів:", 1104, 291, 160, 77, 8
 LTEXT "%s", 1105, 374, 156, 22, 12
 LTEXT "Рахунок", 1106, 410, 160, 29, 8
 LTEXT "Оцінка результату", 1107, 351, 173, 97, 8
 PUSHBUTTON "Повторити тест", 1087, 148, 209, 74, 14
 PUSHBUTTON "Вихід", 1088, 243, 209, 77, 14
}
