3060 DIALOGEX 0, 0, 250, 83, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Встановлення плагіна HaoZip"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CONTROL "", 1122, "msctls_progress32", WS_BORDER, 9, 38, 231, 11
 PUSHBUTTON "&Відмова", 2, 184, 63, 56, 15
 LTEXT "Завантаження та інсталяція Формат-Плагіна, зачекайте...", 65535, 20, 15, 212, 8
}
