3061 DIALOGEX 0, 0, 290, 104, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Конфігурування перегляду зображень в HaoZip"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 AUTOCHECKBOX "Нагадати пізніше", 3028, 7, 76, 89, 10
 AUTORADIOBUTTON "", 1150, 33, 52, 11, 10, NOT WS_TABSTOP
 LTEXT "Для підтримки переходу між зображеннями в архіві, виберіть Переглядач:", 1133, 49, 6, 162, 21
 DEFPUSHBUTTON "Підтверити", 1152, 124, 67, 48, 19
 LTEXT "Статичний", 1158, 7, 32, 24, 23
 AUTORADIOBUTTON "", 1151, 33, 32, 11, 10, WS_GROUP | NOT WS_TABSTOP
}
