3100 DIALOGEX 0, 0, 290, 185, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Коментар"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "&Коментар архіву:", 65535, 10, 9, 73, 8
 LTEXT "(Тільки для Zip та 7z)", 3237, 90, 9, 172, 8
 PUSHBUTTON "&Завантажити коментар з файлу", 3043, 10, 166, 120, 14
 AUTOCHECKBOX "&Автоперенесення слів", 3128, 174, 166, 92, 10
 EDITTEXT 3044, 5, 20, 281, 140, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 3772, 5, 20, 281, 140, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
}
