31014 DIALOGEX 0, 0, 269, 75, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Замінити"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 COMBOBOX 31017, 60, 5, 135, 135, CBS_DROPDOWN | WS_VSCROLL
 COMBOBOX 31022, 60, 22, 135, 58, CBS_DROPDOWN | WS_VSCROLL
 AUTOCHECKBOX "&Тільки цілі слова", 31018, 62, 42, 89, 10
 AUTOCHECKBOX "&Враховувати регістр", 31019, 62, 55, 89, 10
 DEFPUSHBUTTON "&Знайти далі", 1, 202, 5, 62, 14
 PUSHBUTTON "З&амінити", 31000, 202, 22, 62, 14
 PUSHBUTTON "За&мінити все", 31001, 202, 39, 62, 14
 PUSHBUTTON "&Відмова", 2, 202, 56, 62, 14
 LTEXT "Знайти:", 31023, 5, 6, 41, 8
 LTEXT "Замінити на:", 31024, 5, 23, 50, 8
}
