3101 DIALOGEX 0, 0, 327, 231, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Загальні"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "&Шлях для розпакування (якщо не існує, то буде створений):", 65535, 5, 7, 246, 8
 COMBOBOX 3046, 5, 20, 248, 139, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "&Показати", 3045, 259, 4, 63, 13
 PUSHBUTTON "&Створити папку", 3049, 259, 19, 63, 14
 GROUPBOX "Режим оновлення", 65535, 5, 38, 154, 46
 AUTORADIOBUTTON "&Розпакувати із заміною файлів", 3056, 14, 49, 122, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Розпакува&ти з оновленням файлів", 3063, 14, 60, 129, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "О&новити тільки існуючі файли", 3064, 14, 71, 111, 10, NOT WS_TABSTOP
 GROUPBOX "Режим перезапису", 65535, 5, 86, 154, 60, WS_GROUP
 AUTORADIOBUTTON "&Видавати запит перед перезаписом", 3057, 14, 99, 135, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Перез&аписувати без запиту", 3060, 14, 110, 121, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "Проп&ускати існуючі файли", 3058, 14, 121, 119, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "П&ерейменовувати автоматично", 3059, 14, 132, 125, 10, NOT WS_TABSTOP
 GROUPBOX "Різне", 65535, 5, 150, 154, 60, WS_GROUP
 AUTOCHECKBOX "Розпа&кувати архіви у вкладені папки", 3062, 14, 162, 136, 10
 AUTOCHECKBOX "&Залишити на диску пошкоджені файли", 3055, 14, 173, 141, 10
 AUTOCHECKBOX "П&оказати файли в Провіднику", 3048, 14, 185, 119, 10
 AUTOCHECKBOX "Пропускат&и архіви захищені паролем", 3827, 14, 197, 141, 10
 CONTROL "", 3047, "SysTreeView32", WS_BORDER | WS_TABSTOP | 0x00000023, 164, 38, 157, 187
 PUSHBUTTON "З&берегти налаштування", 3061, 5, 211, 154, 14
}
