31015 DIALOGEX 0, 0, 302, 139, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Параметри"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 COMBOBOX 31027, 15, 31, 87, 65, CBS_DROPDOWN | CBS_OWNERDRAWVARIABLE | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 31028, 106, 31, 38, 105, CBS_DROPDOWN | WS_VSCROLL
 CONTROL "", 31029, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 169, 30, 50, 12
 CONTROL "", 31030, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 232, 30, 50, 12
 EDITTEXT 31031, 73, 65, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31032, 73, 81, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31035, 73, 97, 55, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31034, 224, 65, 60, 14, ES_AUTOHSCROLL | ES_NUMBER
 EDITTEXT 31033, 224, 81, 60, 14, ES_AUTOHSCROLL | ES_NUMBER
 AUTOCHECKBOX "&Автоперенесення", 31036, 162, 100, 74, 10
 COMBOBOX 31037, 5, 120, 123, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 DEFPUSHBUTTON "&ОК", 1, 137, 120, 50, 14
 PUSHBUTTON "&Застосувати", 31002, 192, 120, 50, 14
 PUSHBUTTON "В&ідмова", 2, 247, 120, 50, 14
 GROUPBOX "&Редактор", 65535, 5, 55, 292, 60
 LTEXT "&Назва шрифту:", 65535, 15, 20, 53, 8
 LTEXT "Роз&мір", 65535, 106, 20, 38, 8
 LTEXT "&Текст:", 65535, 171, 19, 50, 8
 LTEXT "&Фон", 65535, 232, 19, 57, 8
 GROUPBOX "&Шрифт", 65535, 5, 5, 145, 45
 GROUPBOX "&Кольори", 65535, 157, 5, 140, 45
 LTEXT "&Ліве поле:", 65535, 11, 68, 52, 8
 LTEXT "&Праве поле:", 65535, 11, 84, 52, 8
 LTEXT "Розм&ір табуляції:", 65535, 11, 100, 59, 8
 LTEXT "Ліміт ві&дмов:", 65535, 162, 68, 52, 8
 LTEXT "Розмір к&ешу:", 65535, 162, 84, 51, 8
}
