31011 DIALOGEX 0, 0, 276, 61, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Пошук"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 COMBOBOX 31017, 51, 5, 149, 58, CBS_DROPDOWN | WS_VSCROLL
 AUTOCHECKBOX "&Тільки цілі слова", 31018, 9, 25, 87, 10
 AUTOCHECKBOX "&Враховувати регістр", 31019, 9, 40, 86, 10
 AUTORADIOBUTTON "В&гору", 31020, 109, 40, 32, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "В&низ", 31021, 151, 40, 43, 10, NOT WS_TABSTOP
 DEFPUSHBUTTON "&Знайти далі", 1, 209, 5, 61, 14
 PUSHBUTTON "&Відмова", 2, 209, 21, 61, 14
 LTEXT "Знайти:", 31023, 10, 8, 35, 8
 GROUPBOX "Напрямок", 65535, 101, 25, 99, 30
}
