3103 DIALOGEX 0, 0, 290, 185, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Загальні"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "&Ім'я архіву:", 65535, 5, 8, 88, 8
 COMBOBOX 3076, 5, 22, 280, 95, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "&Огляд...", 3067, 235, 5, 50, 14
 GROUPBOX "Формат архіву", 65535, 5, 40, 123, 28, WS_GROUP
 AUTORADIOBUTTON "Z&IP", 3774, 10, 52, 25, 10, WS_GROUP
 AUTORADIOBUTTON "7&Z", 3775, 38, 52, 22, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "", 3776, 65, 52, 10, 10, NOT WS_TABSTOP
 COMBOBOX 3777, 77, 50, 48, 101, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP
 LTEXT "М&етод стискання:", 65535, 5, 71, 88, 8
 COMBOBOX 3075, 5, 82, 119, 81, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Метод оновлення:", 65535, 5, 99, 88, 8
 COMBOBOX 3079, 5, 110, 119, 81, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Роз&ділити на томи, розміром", 65535, 5, 127, 100, 8
 COMBOBOX 3074, 5, 138, 86, 90, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 COMBOBOX 3778, 93, 138, 31, 30, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Формат для форумів", 3740, 5, 153, 89, 9
 GROUPBOX "Параметри архівації", 65535, 132, 40, 153, 140
 AUTOCHECKBOX "&Видалити файли після запакування", 3070, 137, 52, 141, 10
 AUTOCHECKBOX "П&ротестувати файли після запакування", 3109, 137, 66, 146, 10
 AUTOCHECKBOX "&Створити безперервний архів (для 7Z)", 3073, 137, 80, 142, 10
 AUTOCHECKBOX "&Кожен файл в окремий архів", 3110, 137, 94, 145, 10
 AUTOCHECKBOX "По &закінченні операції вимкнути ПК", 3111, 137, 108, 136, 10
 AUTOCHECKBOX "&Стиснути і відправити по E-mail", 3077, 137, 122, 130, 10
 AUTOCHECKBOX "Створити SF&X-архів", 3078, 137, 136, 82, 10
 PUSHBUTTON "П&араметри SFX", 3304, 222, 134, 62, 14
 PUSHBUTTON "&Профілі...", 3080, 5, 166, 119, 14
}
