3104 DIALOGEX 0, 0, 290, 185, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Алгоритм"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Алгоритм стискання", 65535, 5, 5, 280, 90
 LTEXT "&Метод стискання:", 65535, 11, 20, 63, 8
 COMBOBOX 3288, 74, 17, 80, 51, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Р&озмір словника:", 65535, 11, 38, 61, 8
 COMBOBOX 3289, 74, 36, 80, 119, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Ро&змір слова:", 65535, 11, 56, 53, 8
 COMBOBOX 3290, 74, 54, 80, 96, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Розм&ір блоку:", 65535, 11, 74, 53, 8
 COMBOBOX 3291, 74, 71, 80, 132, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&К-сть потоків:", 65535, 159, 20, 49, 8
 COMBOBOX 3292, 211, 17, 32, 86, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "/ 2", 3298, 248, 20, 17, 8
 LTEXT "Фільтр файлів:", 65535, 159, 38, 57, 8
 AUTORADIOBUTTON "&Увімкн.", 3295, 161, 54, 44, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Ви&мкнено", 3296, 213, 54, 48, 10, NOT WS_TABSTOP
 PUSHBUTTON "&Редагувати список", 3297, 166, 70, 95, 14, WS_GROUP
 LTEXT "Об'єм пам'яті для запакування:", 65535, 11, 102, 72, 18
 LTEXT "120 Mбайт", 3293, 85, 102, 60, 8
 LTEXT "Об'єм пам'яті для розпакування:", 65535, 11, 123, 72, 17
 LTEXT "30 Mбайт", 3294, 85, 123, 60, 8
 PUSHBUTTON "&Параметри стискання", 3712, 166, 117, 95, 14
}
