3264 DIALOGEX 0, 0, 175, 53, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Введення імені нової папки"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "&Ім'я нової папки:", 65535, 4, 5, 87, 8
 EDITTEXT 2090, 4, 17, 167, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&ОК", 1, 35, 35, 50, 14
 PUSHBUTTON "В&ідмова", 2, 91, 35, 50, 14
}
