3315 DIALOGEX 0, 0, 330, 241, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE = WS_EX_ACCEPTFILES
CAPTION "Підрахунок контрольної суми MD5"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&Огляд...", 3317, 10, 222, 46, 14
 PUSHBUTTON "&Копіювати", 3319, 62, 222, 46, 14, WS_DISABLED
 PUSHBUTTON "О&чистити", 3318, 114, 222, 46, 14, WS_DISABLED
 PUSHBUTTON "З&берегти", 3320, 166, 222, 46, 14, WS_DISABLED
 PUSHBUTTON "&Закрити", 3330, 218, 222, 46, 14
 PUSHBUTTON "&Допомога", 3331, 270, 222, 46, 14
 EDITTEXT 3316, 5, 5, 319, 123, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL, WS_EX_CLIENTEDGE
 GROUPBOX "Параметри ", 65535, 5, 134, 319, 26
 AUTOCHECKBOX "&Версія", 3325, 10, 146, 45, 10
 AUTOCHECKBOX "Ч&ас", 3326, 57, 146, 42, 10
 AUTOCHECKBOX "&MD5", 3327, 101, 146, 42, 10
 AUTOCHECKBOX "SH&A1", 3328, 145, 146, 42, 10
 AUTOCHECKBOX "C&RC32", 3329, 189, 146, 35, 10
 AUTOCHECKBOX "&Сховати головне вікно", 3740, 229, 146, 89, 10
 LTEXT "Поточний: ", 65535, 11, 168, 39, 8
 CONTROL "", 3322, "msctls_progress32", WS_BORDER, 53, 167, 263, 9
 LTEXT "Загальний: ", 65535, 11, 182, 39, 8
 CONTROL "", 3323, "msctls_progress32", WS_BORDER, 53, 182, 263, 9
 LTEXT "Введіть суму для порівняння:", 65535, 11, 204, 101, 8
 EDITTEXT 3780, 114, 201, 150, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&Порівняти", 3333, 270, 201, 46, 15
}
