3700 DIALOGEX 0, 0, 280, 191, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Додаткові параметри стискання"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Формат архіву", 65535, 5, 5, 270, 31, WS_GROUP
 AUTORADIOBUTTON "ZIP(&I)", 3774, 29, 20, 40, 8, WS_GROUP
 AUTORADIOBUTTON "7&Z", 3775, 76, 20, 40, 8, NOT WS_TABSTOP
 GROUPBOX "Метод стискання", 65535, 5, 41, 270, 31, WS_GROUP
 AUTORADIOBUTTON "&Швидкісний", 3704, 9, 56, 51, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "Ш&видкий", 3705, 62, 56, 41, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Нормальний", 3706, 107, 56, 53, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Хороший", 3707, 164, 56, 44, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "&Максимальний", 3708, 209, 56, 63, 10, NOT WS_TABSTOP
 GROUPBOX "Алгоритм стискання", 65535, 5, 77, 270, 87, WS_GROUP
 LTEXT "&Метод стискання:", 65535, 11, 92, 61, 8
 COMBOBOX 3288, 73, 90, 65, 64, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Р&озмір словника:", 65535, 11, 110, 60, 8
 COMBOBOX 3289, 73, 108, 65, 61, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Ро&змір слова:", 65535, 11, 129, 53, 8
 COMBOBOX 3290, 73, 126, 65, 94, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Розм&ір блоку:", 65535, 11, 146, 53, 8
 COMBOBOX 3291, 73, 143, 65, 109, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "&Кількість потоків:", 65535, 150, 90, 33, 16
 COMBOBOX 3292, 187, 90, 48, 88, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "(1 ЦП)", 3298, 240, 92, 29, 8
 LTEXT "Об'єм пам'яті для запакування:", 65535, 150, 112, 67, 17
 LTEXT "120 Mбайт", 3293, 220, 113, 48, 8
 LTEXT "Об'єм пам'яті для розпакування:", 65535, 150, 134, 67, 17
 LTEXT "30 Mбайт", 3294, 220, 134, 48, 8
 PUSHBUTTON "&По замовч.", 3711, 5, 172, 65, 14
 PUSHBUTTON "&Скинути", 3710, 72, 172, 49, 14
 PUSHBUTTON "&Застосувати", 1, 123, 172, 50, 14
 PUSHBUTTON "&Закрити", 2, 174, 172, 50, 14
 PUSHBUTTON "&Допомога", 9, 225, 172, 50, 14
 AUTORADIOBUTTON "TA&R", 3776, 123, 20, 40, 8, NOT WS_TABSTOP
}
