3717 DIALOGEX 0, 0, 419, 292, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Тест апаратури"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&Запуск тесту", 3737, 343, 12, 64, 16
 LTEXT "Р&озмір словника:", 1010, 8, 19, 60, 8
 COMBOBOX 1011, 69, 16, 44, 140, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Використовувана пам'ять:", 1012, 120, 16, 63, 17
 LTEXT "0 Мб", 1013, 187, 19, 35, 8
 LTEXT "П&роцесор:", 1014, 225, 19, 50, 8
 COMBOBOX 1015, 281, 16, 44, 140, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "&Скопіювати", 3, 202, 271, 64, 16
 PUSHBUTTON "&Закрити", 2, 274, 271, 64, 16
 PUSHBUTTON "&Допомога", 9, 345, 271, 64, 16
 GROUPBOX "Налаштування параметрів:", 65535, 3, 4, 330, 34
 LTEXT "Результати: (процес оцінки потужності може зайняти кілька хвилин)", 65535, 6, 43, 382, 10
 LTEXT "Статичний", 3738, 6, 56, 405, 191
 LTEXT "Примітка: Результати тестування відображають тільки продуктивність запакування/розпакуванняі.\n Ці дані відносні (тільки для ознайомлення)", 65535, 6, 250, 396, 17
}
