3719 DIALOGEX 0, 0, 246, 79, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Підтвердження"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&Так", 1, 66, 60, 50, 14
 PUSHBUTTON "&Ні", 2, 130, 60, 50, 14
 AUTOCHECKBOX "Н&е запитувати наступного разу", 3721, 41, 44, 193, 10
 ICON "", 3719, 12, 13, 21, 20
 LTEXT "Статичний", 3720, 41, 9, 193, 31
}
