3809 DIALOGEX 0, 0, 246, 211, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Інформація"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 CONTROL "", 3706, "STATIC", SS_BLACKFRAME, 7, 22, 51, 185
 CTEXT "Архів HaoZip", 3914, 64, 10, 176, 10
 LTEXT "Версія:", 65535, 68, 28, 91, 8
 LTEXT "Базова ФС:", 65535, 68, 40, 91, 8
 LTEXT "Файлів:", 65535, 68, 59, 45, 8
 LTEXT "Розмір:", 65535, 68, 69, 45, 8
 LTEXT "Розмір в архіві:", 65535, 68, 79, 54, 8
 LTEXT "Ступінь стискання:", 65535, 68, 89, 64, 8
 LTEXT "Розмір SFX-модуля:", 65535, 68, 109, 68, 8
 LTEXT "Головний коментар:", 65535, 68, 120, 70, 8
 LTEXT "Пароль:", 65535, 68, 131, 70, 8
 CONTROL "1.0", 3711, "STATIC", SS_LEFTNOWORDWRAP, 171, 28, 65, 8, WS_EX_RIGHT
 LTEXT "Невідомо", 3703, 123, 40, 113, 8, 0, WS_EX_RIGHT
 LTEXT "Невідомо", 3702, 123, 59, 113, 8, 0, WS_EX_RIGHT
 LTEXT "Невідомо", 3709, 118, 69, 118, 8, 0, WS_EX_RIGHT
 LTEXT "Невідомо", 3704, 128, 79, 108, 8, 0, WS_EX_RIGHT
 LTEXT "Невідомо", 3707, 137, 89, 99, 8, 0, WS_EX_RIGHT
 LTEXT "0 байт", 3708, 137, 109, 99, 8, 0, WS_EX_RIGHT
 LTEXT "Ні", 3701, 137, 120, 99, 8, 0, WS_EX_RIGHT
 LTEXT "Ні", 3705, 123, 131, 113, 8, 0, WS_EX_RIGHT
 GROUPBOX "", 65535, 62, 18, 180, 34
 GROUPBOX "", 65535, 62, 51, 180, 50
 GROUPBOX "", 65535, 62, 100, 180, 42
 GROUPBOX "Контрольна сума файлу (MD5)", 65535, 62, 146, 180, 29
 EDITTEXT 3710, 68, 158, 164, 12, ES_READONLY | NOT WS_BORDER
 EDITTEXT 3712, 68, 179, 111, 12, ES_READONLY | NOT WS_BORDER
 PUSHBUTTON "&Підрахувати", 3714, 183, 177, 59, 14
 AUTOCHECKBOX "&Видалити SFX-модуль", 3915, 68, 194, 99, 10, WS_DISABLED
 PUSHBUTTON "&Розпакувати...", 3713, 183, 193, 59, 14
}
