3830 DIALOGEX 0, 0, 503, 196, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Керування багатотомними архівами"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CONTROL "", 3832, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 7, 28, 220, 127
 CONTROL "", 3831, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00004809, 276, 28, 220, 127
 PUSHBUTTON "Додати->", 3834, 228, 69, 47, 16
 PUSHBUTTON "<-Видалити", 3833, 228, 90, 47, 16
 AUTOCHECKBOX "&Не використовувати наступного разу", 3837, 7, 173, 200, 11
 DEFPUSHBUTTON "&ОК", 1, 336, 173, 50, 16
 PUSHBUTTON "&Ігнорувати", 2, 391, 173, 50, 16
 PUSHBUTTON "&Допомога", 3836, 446, 173, 50, 16
 LTEXT "В даний час доступні для вибору більше одного тому, будь ласка, виберіть томи, і додайте їх в список для обробки.\n", 65535, 7, 4, 478, 8
 LTEXT "Список розпаковуваних томів:", 65535, 7, 16, 220, 8
 LTEXT "Список дубльованих томів:", 65535, 276, 16, 220, 8
 LTEXT "", 3835, 12, 160, 216, 8
 LTEXT "\n\n", 3842, 277, 160, 216, 8
}
