3840 DIALOGEX 0, 0, 216, 75, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Повідомлення - HaoZip"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&Продовжити відкриття", 1, 32, 46, 83, 15
 PUSHBUTTON "&Відмова", 2, 121, 46, 62, 15
 LTEXT "Архів занадто великий, для відкриття файлу потрібно багато часу! Рекомендуємо спочатку розпакувати архів, а потім відкривати файл. Продовжити?", 65535, 21, 9, 174, 33
}
