4003 DIALOGEX 0, 0, 250, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Текст"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 LTEXT "За&головок вікна SFX:", 65535, 5, 5, 130, 8
 EDITTEXT 4012, 5, 16, 240, 14, ES_AUTOHSCROLL
 LTEXT "&Текст у вікні SFX:", 65535, 5, 34, 187, 8
 EDITTEXT 4014, 5, 45, 240, 145, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 4076, 5, 45, 240, 145, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
 PUSHBUTTON "&Завантажити коментар з файлу", 4020, 5, 195, 120, 14
 AUTOCHECKBOX "&Автоперенесення слів", 4025, 153, 195, 87, 10
}
