4005 DIALOGEX 0, 0, 250, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Ліцензія"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 LTEXT "За&головок вікна з ліцензією:", 65535, 5, 5, 96, 8
 EDITTEXT 4019, 5, 15, 240, 14, ES_AUTOHSCROLL
 LTEXT "&Текст ліцензії:", 65535, 5, 34, 80, 8
 EDITTEXT 4022, 5, 44, 240, 144, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL
 EDITTEXT 4075, 5, 44, 240, 144, ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
 PUSHBUTTON "&Завантажити текст із файлу...", 4035, 5, 195, 113, 14
 AUTOCHECKBOX "&Автоперенесення слів", 4016, 153, 195, 86, 10
}
