4007 DIALOGEX 0, 0, 250, 214, 0
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Графіка"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 GROUPBOX "Логотип SFX-архіву", 65535, 5, 5, 240, 51
 LTEXT "Завантажити логотип SFX з файлу:", 65535, 12, 21, 161, 8
 EDITTEXT 4013, 12, 32, 227, 14, ES_AUTOHSCROLL
 GROUPBOX "Графіка", 65535, 5, 63, 240, 51
 PUSHBUTTON "&Огляд...", 4024, 189, 73, 50, 14
 LTEXT "Завантажити значок SFX з файлу:", 65535, 12, 78, 161, 8
 EDITTEXT 4017, 12, 89, 227, 14, ES_AUTOHSCROLL
 PUSHBUTTON "&Огляд...", 4023, 189, 16, 50, 14
}
