5000 DIALOGEX 0, 0, 225, 203, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Елементи контекстного меню"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 CONTROL "", 5001, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000801, 5, 5, 215, 175
 PUSHBUTTON "&ОК", 1, 29, 184, 50, 14
 PUSHBUTTON "В&ідмова", 2, 87, 184, 50, 14
 PUSHBUTTON "&Допомога", 9, 143, 184, 50, 14
}
