502 DIALOGEX 0, 0, 280, 47, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Діалогове вікно"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "&OK", 1, 211, 5, 50, 13
 PUSHBUTTON "&Відмова", 2, 211, 23, 50, 13
 LTEXT "", 2172, 44, 9, 159, 16
 LTEXT "", 2171, 8, 7, 32, 30
 AUTOCHECKBOX "", 2173, 7, 32, 190, 11
}
