STRINGTABLE
LANGUAGE 4, 2
{
30000, "Виртуальный CD"
30001, "&Монтировать образ"
30002, "&Подключенные образы"
30003, "&Настройки"
30004, "&Монтировать из истории"
30005, "&Выход"
30006, "&Отмонтировать все образы"
30007, "&Просмотр образа"
30008, "&Заменить"
30009, "&Извлечь в..."
30010, "&Отмонтировать"
30011, "Монтировать автоматически"
30012, "Автозапуск"
30013, "&Очистить историю"
30014, "Выберите файл образа"
30015, "Образ был успешно загружен"
30016, "Образ не удается загрузить"
30017, "Отмонтировать образ не удалось"
30018, "Образ успешно отмонтирован"
30019, "Успешно отключены все образы"
30020, "Все поддерживаемые"
30021, "Все файлы"
30022, "Образ отмонтирован"
30023, "Загрузить dll-файл не удается, переустановите HaoZip!"
30024, "HaoZip виртуальный CD был успешно запущен!"
30025, "Виртуальный CD запущен!"
30026, "Не напоминать в следующий раз"
30027, "Выйти из Виртуального CD?"
30028, "Файл образа не существует"
30029, "Файл образа поврежден"
30030, "Установка драйвера Виртуального CD"
30031, "Пожалуйста, используйте права администратора для запуска данного программного обеспечения"
30032, "CD Привод"
30033, "Пусто"
30034, "Этот файл уже загружен в Виртуальный CD."
30035, "Удалить"
30036, "Пожалуйста выберите правильный файл образа для Виртуального CD-ROM"
}
